/**
 * skin Koma style
 *
 * @author <a href="http://vanessa.b3log.org">Liyuan Li</a>
 * @version 0.1.0.0, Dec 11, 2017
*/
@import '../../../scss/basic';
@import '../../../scss/github';

// variable
$text-color: rgba(0,0,0,.6);
$text-hover-color: #b0a0aa;

// reset
html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  color: $text-color;
  background-color: #eaeaea;
  letter-spacing: 0.01rem;
  line-height: 1.75em;
  text-rendering: geometricPrecision;
}

.pipe-content__reset {
  pre > code {
    background-image: url(../../../images/code-bg.png);
  }
}