/**
 * skin Koma style
 *
 * @author <a href="http://vanessa.b3log.org">Liyuan Li</a>
 * @version 0.1.0.0, Dec 11, 2017
*/
@import '../../../scss/basic';
@import '../../../scss/github';

// variable
$text-color: rgba(0, 0, 0, .6);
$text-hover-color: #b0a0aa;
$transition: all .3s ease;
$blue: #88acdb;

// reset
html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  color: $text-color;
  background-color: #eaeaea;
  letter-spacing: 0.01rem;
  line-height: 1.75em;
  text-rendering: geometricPrecision;
}

.pipe-content__reset {
  pre > code {
    background-image: url(../../../images/code-bg.png);
  }
}

a {
  color: $blue;
}

// framework
.side {
  position: fixed;
  background-color: #FFF;
  height: 100%;
  width: 300px;
  overflow: auto;

  &__overlay {
    height: 180px;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    width: 100%;
  }

  &__content {
    width: 100%;
    text-align: center;
    top: 0;
    position: absolute;
    z-index: 1;
    bottom: 60px;
    overflow: auto;
    padding: 112px 30px 0;
    box-sizing: border-box;
    word-break: break-all;

    &::-webkit-scrollbar {
      display: none;
    }

    h1 a {
      color: $text-color;
      font-size: 28px;
      font-weight: normal;
      margin: 15px 0;
      display: block;
      transition: $transition;
      &:hover {
        text-decoration: none;
        color: $text-hover-color;
      }
    }

    ul {
      list-style: none;

      a {
        color: $text-color;
        transition: $transition;
        &:hover {
          color: $text-hover-color;
          text-decoration: none;
        }
      }

      img {
        height: 18px;
        width: 18px;
        vertical-align: text-bottom;
      }
    }
  }

  &__logo img {
    display: block;
    border: 5px solid #fff;
    border-radius: 50%;
    width: 128px;
    height: 128px;
    margin: 0 auto;
    transition: $transition;

    &:hover {
      border-color: $text-hover-color;
    }
  }

  &__notice {
    margin: 15px 0;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    padding: 0 30px 15px;
    height: 45px;
    width: 100%;
    box-sizing: border-box;
    a {
      line-height: 26px;
      height: 26px;
      float: left;
      color: $text-color;
      transition: $transition;
      width: 25%;
      text-align: center;
      &:hover {
        color: $text-hover-color;
      }
      svg {
        height: 26px;
        width: 26px;
      }
    }
  }

  .avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    @include image-bg('../../../images/image-bg.svg');
    &:hover {
      transform: rotate(360deg);
      transition: all .2s ease-out 0s;
    }
  }
}

.main {
  right: 0;
  min-height: 100%;
  left: 300px;
  width: auto;
  position: absolute;
}

.footer {
  font-size: 14px;
  text-shadow: 0 1px #fff;
  margin: 30px;
  color: #b0a0aa;
}

#goTop {
  position: fixed;
  bottom: 35px;
  right: 5px;
  animation: upbounce 4s 2s infinite;
  z-index: 10;
  cursor: pointer;
  color: #b0a0aa;
  transition: $transition;
  height: 20px;
  width: 20px;

  &:hover {
    color: rgba(0, 0, 0, 0.54);
    animation-name: inherit;
  }
}

@keyframes upbounce {
  0%, 10%, 25%, 40%, 50% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  20% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
  }

  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
  }
}

// article
.article {
  &__item {
    margin: 30px;
    border: 1px solid #ddd;
    background: #fff;
    position: relative;
    transition: all .2s ease-in;
    visibility: hidden;

    &--show {
      animation: bounce .6s;
      visibility: visible;
    }
  }

  &__header {
    border-left: 5px solid $text-color;
    padding: 15px 130px 15px 25px;
    line-height: 36px;
    font-size: 26px;
    transition: $transition;
    &--user {
      padding-right: 181px;
    }

    &:hover {
      border-color: $text-hover-color;
    }

    .article__title {
      color: $text-color;
      font-weight: 300;
      transition: $transition;
      word-break: break-all;
      &:hover {
        color: $text-hover-color;
        text-decoration: none;
      }
      svg {
        height: 26px;
        width: 26px;
      }
    }

    .article__time {
      position: absolute;
      right: 30px;
      font-size: 16px;
      top: 15px;
      color: $gray;

      &--user {
        right: 81px;
      }
    }

    .avatar {
      height: 36px;
      width: 36px;
      border-radius: 50%;
      position: absolute;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 7px;
      right: 30px;
      top: 15px;
      @include image-bg('../../../images/image-bg.svg');
      &:hover {
        transform: rotate(360deg);
        transition: all .2s ease-out 0s;
      }
    }
  }

  &__abstract {
    padding: 15px 30px 0;
  }

  &__thumb {
    height: 180px;
    display: block;
    @include image-bg('../../../images/image-bg.svg');
  }

  &__footer {
    border-top: 1px solid #ddd;
    margin: 15px 30px;
    padding-top: 15px;

    .fn-left svg {
      float: left;
      margin: 6px 15px 0 0;
      height: 18px;
      width: 18px;
    }

    .fn-right a {
      color: $text-hover-color;
      transition: $transition;
      margin-left: 15px;

      &:hover {
        text-decoration: none;
        color: $gray;
      }
    }
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: scale(1)
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.02)
  }

  100% {
    -webkit-transform: scale(1)
  }
}

// pagination
.pagination {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  &__item {
    height: 30px;
    background: #4d4d4d;
    border-radius: 15px;
    display: inline-block;
    color: #fff;
    margin: 0 3px;
    transition: $transition;
    min-width: 30px;
    &:hover {
      opacity: .7;
      text-decoration: none;
    }

    &--active {
      background: $blue;
      &:hover {
        opacity: 1;
      }
    }
  }
  &__near {
    visibility: hidden;
    color: #4d4d4d;
  }

  &:hover .pagination__near {
    visibility: visible;
  }
}

// tags
.tag {
  color: #fff;
  font-size: 10px;
  height: 18px;
  line-height: 18px;
  display: inline-block;
  padding: 0 5px 0 10px;
  position: relative;
  border-radius: 0 5px 5px 0;
  margin: 5px 9px 5px 8px;
  background-color: #7b5d5f;
  transtion: $transition;
  &:hover {
    opacity: .7;
    text-decoration: none;
  }

  &:after,
  &:before {
    content: " ";
    position: absolute
  }

  &:before {
    width: 0;
    height: 0;
    top: 0;
    left: -18px;
    border: 9px solid transparent;
    border-right-color: #7b5d5f
  }

  &:after {
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .3);
    top: 7px;
    left: 2px
  }

  &--color1 {
    background: #ff945c;
    &:before {
      border-right-color: #ff945c
    }
  }

  &--color2 {
    background: #f5c7b7;
    &:before {
      border-right-color: #f5c7b7
    }
  }

  &--color3 {
    background: #ba8f6c;
    &:before {
      border-right-color: #ba8f6c
    }
  }

  &--color4 {
    background: #cfb7c4;
    &:before {
      border-right-color: #cfb7c4
    }
  }

  &--page {
    font-size: 18px;
    line-height: 36px;
    height: 36px;
    padding: 0 10px 0 20px;
    margin: 0 48px 30px 0;

    &:before {
      left: -36px;
      border-width: 18px;
    }

    &:after {
      top: 16px;
      left: 6px;
    }
  }
}

.page {
  &__content {
    padding: 15px 30px;

    .categories{
      &__item {
        list-style: none;
        border-top: 1px solid #ddd;
        padding: 15px 0;
      }

      &__header {
        font-size: 24px;
        font-weight: normal;
        transition: $transition;
        &:hover {
          text-decoration: none;
          color: $text-hover-color;
        }
      }
    }

    &--archive {
      padding: 30px 30px 0 48px;
    }
  }
  &__title {
    font-size: 26px;
    margin: 30px;
  }
}


// author
.author {
  padding: 0 0 30px 30px;
  &__item {
    float: left;
    height: 265px;
    width: 202px;
    border-radius: 4px;
    margin: 30px 30px 0 0;
    text-align: center;
    color: $text-color;
    box-shadow: rgba(0,0,0,0.05) 0px 1px 7px;
    line-height: 18px;
    &:hover {
      text-decoration: none;
      color: $text-hover-color;

      & .avatar {
        transform: scale(1.2);
      }
    }
  }

  &__header {
    height: 202px;
    overflow: hidden;
    .avatar {
      @include image-bg('../../../images/image-bg.svg');
      transition: all .4s linear;
      border-radius: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    font-size: 16px;
    margin: 13px 0 3px;
  }
}
