# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
header
pipe

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Theme
/theme/node_modules
/theme/x/*/js/*.js.map

# IDE
.idea/

