language: go

go:
  - 1.9
before_install:
  - go get github.com/axw/gocov/gocov
  - go get github.com/mattn/goveralls
  - go get golang.org/x/tools/cmd/cover
#script:
#  - ./coverage.sh
#  - $HOME/gopath/bin/goveralls -coverprofile=profile.cov -service=travis-ci -repotoken ZmKtLQ0DmRqgHvMMXFYFVRzTu9FVWv2kS