/**
 * skin gina style
 *
 * @author <a href="http://vanessa.b3log.org">Liyuan Li</a>
 * @version 0.1.0.0, Oct 13, 2017
*/
@import '../../../scss/basic';

// reset
html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-size: 14px;
  color: $black-text;
  background-color: #fff;
  letter-spacing: 0.01rem;
  line-height: 1.75em;
  text-rendering: geometricPrecision;
}

.content__reset {
  pre > code {
    background-image: url(../images/code-bg.png);
  }
}

// framework
.wrapper {
  width: 760px;
  margin: 0 auto;
}

// header
.header {
  height: 64px;
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, .15);
  line-height: 64px;

  &__wrap {
    width: 910px;
    margin: 0 auto;

    a {
      transition: $transition;
      color: $gray;
      padding: 0 10px;
      font-size: 18px;

      &:first-child {
        margin-left: -10px;
      }

      &:hover {
        color: $black-text;
        text-decoration: none;
      }
    }
  }
}