/**
 * skin gina style
 *
 * @author <a href="http://vanessa.b3log.org">Liyuan Li</a>
 * @version 0.1.0.0, Oct 13, 2017
*/
@import '../../../scss/basic';

// z-index
// article avatar 10

// variable
$border-color: #f1f1f1;
$theme-accent: #f47e00;

// reset
html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-size: 14px;
  color: $black;
  background-color: #fff;
  letter-spacing: 0.01rem;
  line-height: 1.75em;
  text-rendering: geometricPrecision;
  transition: $transition;
}

a {
  transition: $transition;
}

.content__reset {
  pre > code {
    background-image: url(../images/code-bg.png);
  }
}

// function
.fn-bottom {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px dashed $border-color;
}

.fn-absolute {
  position: absolute;
}

.fn-padding60 {
  padding-left: 60px;
}

.fn-padding80 {
  padding-left: 80px;
}

// avatar
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  @include image-bg('../images/image-bg.svg');

  &--space {
    margin-right: 20px;
  }
}

// module
.module {
  &__header {
    line-height: 24px;
    margin-bottom: 20px;
    color: $black;
  }

  &__list {
    li {
      list-style: none;
      margin-bottom: 10px;
      padding-bottom: 10px;
      position: relative;
    }

    &-title {
      color: $black;
      display: block;
      word-break: break-all;
      &:hover {
        color: $gray;
        text-decoration: none;
      }
    }
  }
}

// tag
.tag {
  background-color: #f6f6f6;
  color: $black;
  padding: 3px 10px;
  line-height: 13px;
  font-weight: 400;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
    background-color: $border-color;
    color: $gray;
  }
}

// framework
.wrapper {
  width: 910px;
  margin: 0 auto;
}

.content {
  margin: 50px auto;
}

.body--side {
  padding-right: 340px;

  .side {
    right: 0;
  }

  .sidebar__icon:hover .sidebar__icon-line:first-child,
  .sidebar__icon-line:first-child {
    width: 100%;
    transform: rotateZ(-45deg);
    top: 6px;
    background-color: $theme-accent;
  }

  .sidebar__icon:hover .sidebar__icon-line--middle,
  .sidebar__icon-line--middle {
    opacity: 0
  }

  .sidebar__icon:hover .sidebar__icon-line:last-child,
  .sidebar__icon-line:last-child {
    width: 100%;
    transform: rotateZ(45deg);
    top: -6px;
    background-color: $theme-accent;
  }
}

// header
.header {
  height: 64px;
  border-bottom: 1px solid $border-color;
  line-height: 64px;

  a {
    color: $gray;
    padding: 0 10px;
    font-size: 16px;

    &:first-child {
      margin-left: -10px;
    }

    &:hover {
      color: $black;
      text-decoration: none;
    }
  }

  &__search {
    border-left: 1px solid $border-color;
    float: right;
    padding-left: 10px;
    height: 64px;
    cursor: pointer;
    &:hover svg {
      color: $black;
    }
    input {
      font-size: 13px;
      width: 0;
      border: 0;
      transition: $transition;
    }
    svg {
      color: $gray;
      float: right;
      margin-top: 26px;
    }
  }
}

// footer
.footer {
  border-top: 1px solid $border-color;
  &__side {
    padding: 50px 0;
    &-module--mid {
      margin: 0 2%;
    }
    .module {
      width: 32%;

      .tag {
        margin: 0 10px 10px 0;
        display: inline-block;
      }
    }
  }
  &__info {
    color: $fade;
    border-top: 1px dotted $border-color;
    font-size: 12px;
    padding: 30px 0;

    a {
      color: #8899a6;
    }
  }
}

// side
.side {
  transition: $transition;
  position: fixed;
  width: 340px;
  top: 0;
  right: -340px;
  overflow: auto;
  height: 100%;
  border-left: 1px solid $border-color;
  box-sizing: border-box;

  &__nav {
    line-height: 63px;
    border-bottom: 1px solid $border-color;
    text-align: right;
    padding-right: 20px;

    a {
      color: $gray;
      padding: 0 10px;
      font-size: 16px;

      &:hover {
        text-decoration: none;
        color: $black;
      }
    }
  }

  &__sub-title {
    font-size: 18px;
    padding: 30px 30px 0;
  }

  &__module {
    margin: 30px;

    .module__list {
      margin-bottom: 50px;
    }
  }

  &::-webkit-scrollbar {
    display: none
  }
}

// side toggle icon
.sidebar__icon {
  position: fixed;
  bottom: 36px;
  width: 16px;
  height: 14px;
  right: 36px;
  border: 3px solid $border-color;
  padding: 10px 9px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;

  &-line {
    display: block;
    position: relative;
    vertical-align: top;
    height: 3px;
    width: 100%;
    background: $black;
    margin-top: 3px;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    border-radius: 1px;
  }

  &-line:first-child {
    margin-top: 0
  }

  &:hover {
    .sidebar__icon-line:first-child {
      width: 50%;
      transform: rotateZ(-45deg);
      top: 3px
    }

    .sidebar__icon-line-middle {
      width: 90%
    }

    .sidebar__icon-line:last-child {
      width: 50%;
      transform: rotateZ(45deg);
      top: -3px
    }
  }
}

// article
.article {
  &__thumb {
    height: 180px;
    border-radius: 10px;
    margin-bottom: 30px;
    display: block;
    @include image-bg('../images/image-bg.svg');
  }

  &__title {
    word-break: break-all;
    svg {
      height: 18px;
      width: 18px;
    }
    a {
      font-size: 22px;
      color: $black;
      margin-bottom: 10px;
      display: inline-block;

      &:hover {
        color: $gray;
        text-decoration: none;
      }

      &:visited {
        color: #666;
      }
    }
  }

  &__abstract {
    margin-top: 10px;
    & > p {
      margin: 0;
    }
  }

  &__action {
    margin-top: 30px;

    .action {
      &__btn {
        border-radius: 20px;
        height: 40px;
        display: inline-block;
        border: 1px solid $border-color;
        padding: 0 10px;
        line-height: 38px;
        text-align: center;
        cursor: pointer;
        box-sizing: border-box;
        transition: background .15s ease-in-out, all 0.35s ease-in;
        color: $black;
        svg {
          margin-top: 9px;
          height: 18px;
          width: 18px;
          transition: color .15s ease-in-out;
        }
        &:hover {
          text-decoration: none;
          background-color: $border-color;
          color: $fade;
        }
        &--edit {
          margin-left: 10px;
        }
        &--read:hover {
          color: #fff;
          background-color: $theme-accent;
          border-color: $theme-accent;
        }
        &--wechat {
          border-color: #3caf36;
          transition-delay: 50ms;
          &:hover {
            background-color: #3caf36;
            color: #fff;
          }
        }

        &--weibo {
          border-color: #ff9933;
          transition-delay: 100ms;
          &:hover {
            background-color: #ff9933;
            color: #fff;
          }
        }

        &--twitter {
          border-color: #18a3fa;
          transition-delay: 150ms;
          &:hover {
            background-color: #18a3fa;
            color: #fff;
          }
        }

        &--google {
          border-color: #dc4A3d;
          transition-delay: 200ms;
          &:hover {
            background-color: #dc4A3d;
            color: #fff;
          }
        }
      }

      &__share {
        height: 40px;

        &:hover {
          .action__btn--reply {
            background-color: $border-color;
            color: $fade;
          }
          .action__btns {
            #qrCode {
              display: block;
            }
            .action__btn {
              opacity: 1;
              visibility: visible;
              transform: translate(0);
            }
          }
        }
        .action__btns {
          margin-left: 10px;
          position: relative;
          #qrCode {
            display: none;
            position: absolute;
            top: 35px;
            left: 0px;
          }

          .action__btn {
            opacity: 0;
            transform: translate(20px);
            visibility: hidden;
          }
        }
      }
    }
  }
  // end action

  &__relevants {
    .module {
      width: 48%;
      &:first-child {
        margin-right: 4%;
      }
    }
  }

}

// pagination
.pagination {
  line-height: 30px;
  &__item {
    border: 1px solid $border-color;
    padding: 0 11px;
    display: inline-block;
    border-radius: 15px;
    color: $black;
    cursor: pointer;
    margin: 0 10px;

    &:hover,
    &--active {
      text-decoration: none;
      background-color: $theme-accent;
      color: #fff;
      border-color: $theme-accent;
    }
  }

  &__near {
    color: $gray;
    &:hover {
      text-decoration: none;
      color: $theme-accent;
    }
  }
}