/**
 * skin gina style
 *
 * @author <a href="http://vanessa.b3log.org">Liyuan Li</a>
 * @version 0.1.0.0, Oct 13, 2017
*/
@import '../../../scss/basic';

// variable
$border-color: #f1f1f1;
$theme-accent: #f47e00;

// reset
html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-size: 14px;
  color: $black;
  background-color: #fff;
  letter-spacing: 0.01rem;
  line-height: 1.75em;
  text-rendering: geometricPrecision;
}

a {
  transition: $transition;
}

.content__reset {
  pre > code {
    background-image: url(../images/code-bg.png);
  }
}

// avatar
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  @include  image-bg('../images/image-bg.svg');

  &--space {
    margin-right: 20px;
  }
}

// module
.module {
  &__header {
    line-height: 24px;
    margin-bottom: 20px;
    color: $black;
  }

  &__list {
    li {
      list-style: none;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }

    &-content {
      width: 213px;
    }
  }

  &__a {
    color: $black;
    display: block;
    &:hover {
      color: $theme-accent;
      text-decoration: none;
    }
  }
}

// tag
.tag {
  background-color: #f6f6f6;
  color: $black;
  padding: 3px 10px;
  line-height: 13px;
  font-weight: 400;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
    background-color: $border-color;
    color: $gray;
  }
}

// framework
.wrapper {
  width: 910px;
  margin: 0 auto;
}

.content {
  margin: 50px auto;
}

// header
.header {
  height: 64px;
  border-bottom: 1px solid $border-color;
  line-height: 64px;

  a {
    color: $gray;
    padding: 0 10px;
    font-size: 16px;

    &:first-child {
      margin-left: -10px;
    }

    &:hover {
      color: $black;
      text-decoration: none;
    }
  }

  &__search {
    border-left: 1px solid $border-color;
    float: right;
    padding-left: 10px;
    height: 64px;
    cursor: pointer;
    &:hover svg {
      color: $black;
    }
    input {
      font-size: 13px;
      width: 0;
      border: 0;
      transition: $transition;
    }
    svg {
      color: $gray;
      float: right;
      margin-top: 26px;
    }
  }
}

// footer
.footer {
  border-top: 1px solid $border-color;
  &__side {
    padding: 50px 0;
    &-module--mid {
      margin: 0 30px;
    }
    .module {
      width: 283px;

      .tag {
        margin: 0 10px 10px 0;
        display: inline-block;
      }
    }
  }
  &__info {
    color: $fade;
    border-top: 1px dotted $border-color;
    font-size: 12px;
    padding: 30px 0;

    a {
      color: #8899a6;
    }
  }
}

// article
.article {

  &__item {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px dashed $border-color;
  }

  &__title {
    svg {
      height: 18px;
      width: 18px;
    }
    a {
      font-size: 22px;
      color: $black;
      margin-bottom: 10px;
      display: inline-block;

      &:hover {
        color: $gray;
        text-decoration: none;
      }
    }
  }

  &__abstract {
    margin-top: 10px;

    & > p {
      margin: 0;
    }
  }

  &__meta {
    position: absolute;
    width: 100%;
    padding-left: 70px;
    top: 0;
  }

  &__action {
    margin-top: 10px;
    .action {
      &__read {
        border: 1px solid $theme-accent;
        line-height: 38px;
        padding: 0 20px;
        color: $black;
        display: inline-block;
        border-radius: 20px;

        &:hover {
          text-decoration: none;
          color: #fff;
          background-color: $theme-accent;
        }
      }

      &__share {
        margin-left: 30px;

        .action__btns {
          margin-left: 10px;
        }

        &:hover .action__btns {
          display: inline-block;
        }
      }

      &__btn {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        display: inline-block;
        border: 1px solid $border-color;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
        transition: $transition;

        &:hover {
          background-color: $border-color;
          svg {
            color: #fff;
          }
        }
      }
    }
  }
}