/**
 * skin Medium style
 *
 * @author <a href="http://vanessa.b3log.org">Liyuan Li</a>
 * @version 0.1.0.0, Jan 8, 2018
*/
@import '../../../scss/basic';
@import '../../../scss/github';

// variable
$text-color: rgba(0, 0, 0, .84);
$transition: all .1s;
$green: #03a87c;

// reset
html {
  font-size: 20px;
  line-height: 1.4;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  color: $text-color;
  background-color: #fff;
  text-rendering: geometricPrecision;
}

.pipe-content__reset {
  pre > code {
    background-image: url(../../../images/code-bg.png);
  }
}

// tag
.tag {
  background-color: rgba(0,0,0,.05);
  color: rgba(0,0,0,.68);
  padding: 5px 10px;
  line-height: 22px;
  font-weight: 400;
  border-radius: 3px;
  white-space: nowrap;
  display: inline-block;
  transition: $transition;
  margin: 0 8px 8px 0;
  font-size: 15px;

  &:hover {
    text-decoration: none;
    background: rgba(0,0,0,.1);
    color: rgba(0,0,0,.68);
  }
}

// module
.module {
  &__title {
    border-bottom: 1px solid rgba(0,0,0,.15);
    margin-bottom: 25px;
    line-height: 26px;
    font-size: 22px;
    position: relative;
    height: 46px;

    span {
      border-bottom: 1px solid rgba(0,0,0,0.54);
      position: absolute;
      padding-bottom: 20px;
    }
  }
}

// framework
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  height: 64px;
  text-align: center;

  h1 {
    display: inline-block;
  }

  &__logo {
    float: left;
    height: 32px;
    width: 32px;
    margin: 16px 0;
    @include image-bg('../../../images/image-bg.svg');
  }

  &__title {
    font-size: 26px;
    color: $text-color;

    &:hover {
      text-decoration: none;
    }
  }

  &__icon {
    transition: $transition;
    color: $gray;
    text-decoration: none;
    width: 25px;
    margin-left: 10px;
    float: left;
    margin-top: 18px;

    &:hover {
      text-decoration: none;
      color: rgba(0, 0, 0, .68);
    }

    svg {
      height: 16px;
      width: 16px;
    }

    &.avatar {
      @include image-bg('../../../images/image-bg.svg');
      display: inline-block;
      height: 32px;
      width: 32px;
      border-radius: 16px;
      margin-top: 16px;
      margin-left: 14px;
    }
  }

  &__a {
    color: $green;
    font-size: 16px;
    float: left;
    margin: 16px 0 0 16px;
    transition: $transition;
    line-height: 32px;

    &--border {
      border-radius: 4px;
      border: 1px solid $green;
      padding: 0 16px;
    }

    &:hover {
      text-decoration: none;
      color: #018f69;
      border-color: #018f69;
    }
  }

  &__nav {
    height: 50px;

    a {
      color: rgba(0, 0, 0, .76);
      font-size: 15px;
      padding: 0 10px;
      line-height: 50px;
      text-decoration: none;

      img {
        height: 16px;
        width: 16px;
        vertical-align: text-top;
      }

      &:first-child {
        padding-left: 0;
      }
    }

    &--fixed {
      position: fixed;
      width: 100%;
      top: 0;
      background-color: #fff;
      box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);

      a.header__nav-btn {
        display: block;
      }
    }

    .header__nav-btn {
      background: $green;
      border-color: $green;
      height: 32px;
      line-height: 30px;
      padding: 0 14px;
      border-radius: 4px;
      font-size: 15px;
      color: #fff;
      float: right;
      margin-top: 9px;
      display: none;

      &:hover {
        background: #029e74;
        border-color: #029e74;
      }
    }
  }
}

.main {
  margin-top: 50px;

  .content {
    margin-top: 50px;
  }
}

.board {
  padding: 12px 28px;
  text-align: center;
}

.footer {
  margin-top: 50px;
  padding: 10px 0 25px;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, .05);
  color: $fade;

  a {
    color: $gray;
  }

  &__tag {
    margin-top: 50px;

    & > div {
      width: 490px;
    }
  }
}



