/**
 * article content reset.
 *
 * @author <a href="http://vanessa.b3log.org">Liyuan Li</a>
 * @version 0.3.0.1, Mar 2, 2019
 */
@import 'mixin';

.pipe-preview {
  &__img {
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 300;
    overflow: auto;
    cursor: zoom-out;
    transition: background-color .2s ease-in-out;
    img {
      max-width: inherit;
      transition: transform .3s ease-in-out;
    }
  }
}