/**
 * mixin.
 *
 * @author <a href="http://vanessa.b3log.org">Liyuan Li</a>
 * @version 0.1.0.0, Oct 13, 2017
 */

@mixin image-bg($image: '') {
  background: {
    image: url($image);
    color: rgba(0, 0, 0, 0.02);
    size: cover;
    repeat: no-repeat;
    position: center center;
  }
}