/**
 * comment.
 *
 * @author <a href="http://vanessa.b3log.org">Liyuan Li</a>
 * @version 0.1.0.0, Nov 6, 2017
 */
@import "variables";
// comment
.pipe-comment {
  &__null {
    cursor: pointer;
    transition: $transition;
    text-align: center;
    &:hover {
      color: $gray;
    }
  }

  &__header {
    margin-bottom: 20px;
  }

  &__pagination {
    margin-top: 20px;
    .pipe-comment__btn {
      display: inline-block;
    }
  }

  &__item {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, .06);
    &:hover {
      .pipe-comment__btn {
        display: inline-block;
      }
    }
  }

  &__avatar {
    position: absolute;
    border: 2px solid #fff;
    height: 57px;
    width: 57px;
    border-radius: 50%;
    display: inline-block;
    z-index: 10;
    @include image-bg('../images/image-bg.svg');
    &:hover {
      border-color: rgba(0, 0, 0, .06);
    }
  }

  &__body {
    padding-left: 81px;
  }

  &__chevron-down {
    transform: rotate(180deg);
  }

  &__reply-icon {
    &:hover {
      opacity: .8;
    }
    svg {
      float: left;
      margin: 4px 5px 0 0;
      transition: $transition;
    }
  }

  &__reply {
    margin-top: 20px;
    position: relative;
  }

  &__btn {
    cursor: pointer;
    color: $black;
    display: none;
    transition: $transition;
    padding-left: 10px;
    &--danger {
      color: $red;
    }
    svg {
      margin-top: 1px;
    }

    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }
}

// editor
.pipe-editor {
  &__wrap {
    max-width: 768px;
    margin: 0 auto;
  }

  &__emotion span {
    cursor: pointer;
    float: left;
    margin: 5px 10px 5px 0;
    font-size: 16px;
    transition: $transition;
    background-color: transparent;

    &:hover {
      transform: scale(1.2) rotate(360deg);
    }
  }

  position: fixed;
  bottom: -240px;
  width: 100%;
  opacity: 0;
  background-color: #fff;
  box-shadow: 0 0px 2px $fade;
  padding: 30px 0;
  transition: $transition;
  z-index: 100;
  left: 0;

  input,
  textarea {
    margin-bottom: 30px;
  }
}