{{define "Fara/authors.html"}}
<!DOCTYPE html>
<html>
<head>
    {{template "head/head" .}}
    {{template "head/3rdstatistic" .}}
</head>
<body>
<div class="body__overlay"></div>
<div class="body__content">
    {{template "Fara/header" .}}
    <div class="main" id="pjax">
        {{if .pjax}}{{noescape "<!---- pjax {#pjax} start ---->"}}{{end}}
        <div class="main__title">
            <span id="authorCount" class="main__count">0</span> <span class="ft__13">{{.I18n.TeamMember2}}</span>
        </div>
        <div class="article__meta article__meta--page article__meta--1">
            {{range .Authors}}
            <div class="fn__flex">
                <a class="article__avatar" href="{{.URL}}" data-src="{{.AvatarURLWithSize 404}}"></a>
                <div class="fn__flex-1">
                    <a href="{{.URL}}"><b>{{.Name}}</b></a> <br/>
                    <a href="{{.URL}}">{{.ArticleCount}} {{$.I18n.Article2}}</a>
                </div>
            </div>
            {{end}}
        </div>
        {{if .pjax}}{{noescape "<!---- pjax {#pjax} end ---->"}}{{end}}
    </div>
    {{template "Fara/footer" .}}
</div>
{{if .pjax}}{{noescape "<!---- pjax {#pjax} start ---->"}}{{end}}
<script>
  increase({{len .Authors}}, 1000, 'authorCount', 0)
</script>
{{if .pjax}}{{noescape "<!---- pjax {#pjax} end ---->"}}{{end}}
</body>
</html>
{{end}}