{{define "Fara/footer"}}
<footer class="footer">
    <div class="footer__main">
        <div class="fn__clear">
            {{.Setting.BasicBlogSubtitle}}
            <div class="fn__right">
                <a href="{{.BlogURL}}">{{.Setting.BasicBlogTitle}}</a> &copy; {{.Year}} &nbsp; &nbsp;
                {{.Setting.BasicFooter}}
                &nbsp; &nbsp;
                <span id="goTop" class="pipe-tooltipped pipe-tooltipped--n" aria-label="{{.I18n.GoTop}}">
                    <svg>
                        <use xlink:href="#icon-chevron-up"></use>
                    </svg>
                </span>
            </div>
        </div>
        <div class="fn__clear">
            {{.Statistic.StatisticViewCount}}
            {{.I18n.View}}
            &nbsp;
            {{.Statistic.StatisticArticleCount}}
            {{.I18n.Article}}
            &nbsp;
            {{.Statistic.StatisticCommentCount}}
            {{.I18n.Comment}}
            <div class="fn__right">
                Powered by <a href="https://b3log.org/" target="_blank">B3log 开源</a> •
                <a href="https://hacpai.com/tag/pipe" target="_blank">Pipe</a> •
                Theme Fara by <a href="http://vanessa.b3log.org" target="_blank">Vanessa</a>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript"
        id="script"
        data-blogurl="{{.BlogURL}}"
        data-isLogin="{{if eq .User.URole 0}}false{{else}}true{{end}}"
        src="{{.Conf.StaticServer}}/theme/x/{{.Setting.ThemeName}}/js/common.min.js?{{.Conf.StaticResourceVersion}}"
></script>
{{end}}
