{{define "Fara/index.html"}}
<!DOCTYPE html>
<html>
<head>
    {{template "head/head" .}}
    {{template "head/3rdstatistic" .}}
</head>
<body>
<div class="body__overlay"></div>
<div class="body__content">
    {{template "Fara/header" .}}
    <div class="main" id="pjax">
        {{if .pjax}}{{noescape "<!---- pjax {#pjax} start ---->"}}{{end}}
        {{template "Fara/article-list" .}}
        {{if .pjax}}{{noescape "<!---- pjax {#pjax} end ---->"}}{{end}}
    </div>
    {{template "Fara/footer" .}}
</div>
</body>
</html>
{{end}}