{{define "comment/comments"}}
{{if gt (len .Comments) 0}}
<div id="pipeComments" class="fn-clear"
     data-title="{{.I18n.Comment}}{{.I18n.Colon}}{{.Article.Title}}"
     data-id="{{.Article.ID}}">
    <div class="pipe-comment__header">
        <span id="pipeCommentsCnt">{{len $.Comments}}</span> {{$.I18n.Comment}}
    </div>
    <div>
        {{range .Comments}}
        {{template "comment/comment" dict "Item" . "I18n" $.I18n "Username" $.User.UName "ArticleID" $.Article.ID}}
        {{end}}
    </div>
    {{if $.Pagination}}
    <nav class="pipe-comment__pagination fn-right">
        {{range $.Pagination.PageNums}}
        {{if eq . -1}}
        <a class="pipe-comment__btn" href="{{$.Pagination.PageURL}}{{$.Pagination.PreviousPageNum}}">
            <svg class="fn-left"><use xlink:href="#chevron-left"></use></svg> {{$.I18n.prePage}}
        </a>
        {{else if eq . -2}}
        <a class="pipe-comment__btn" href="{{$.Pagination.PageURL}}{{$.Pagination.NextPageNum}}">
            {{$.I18n.nextPage}}  <svg class="fn-right"><use xlink:href="#chevron-right"></use></svg>
        </a>
        {{end}}
        {{end}}
    </nav>
    {{end}}
</div>
{{else}}
<div class="pipe-comment__null fn-clear"
     data-title="{{.I18n.Comment}}{{.I18n.Colon}}{{.Article.Title}}"
     data-id="{{.Article.ID}}"
     id="pipeComments">
    {{.I18n.StayStep}}
    <svg>
        <use xlink:href="#comment"></use>
    </svg>
</div>
{{end}}
{{end}}