{{define "comment/comments"}}
{{if gt (len .Comments) 0}}
<div id="pipeComments" class="fn-clear"
     data-title="{{.I18n.Comment}}{{.I18n.Colon}}{{.Article.Title}}"
     data-id="{{.Article.ID}}">
    <div class="pipe-comment__header">
        <span id="pipeCommentsCnt">{{.Article.CommentCount}}</span> {{$.I18n.Comment}}
    </div>
    <div>
        {{range .Comments}}
        {{template "comment/comment" dict "Item" . "I18n" $.I18n "Username" $.User.UName "ArticleID" $.Article.ID}}
        {{end}}
    </div>

    <nav class="pipe-comment__pagination fn-clear">
        {{if gt $.Pagination.PageCount 0}}
        {{if gt $.Pagination.PreviousPageNum 0}}
        <a class="pipe-comment__btn" href="?p={{$.Pagination.PreviousPageNum}}">
            <svg class="fn-left"><use xlink:href="#chevron-left"></use></svg> {{$.I18n.prePage}}
        </a>
        {{end}}
        {{if lt $.Pagination.CurrentPageNum $.Pagination.PageCount}}
        <a class="pipe-comment__btn" href="?p={{$.Pagination.NextPageNum}}">
            {{$.I18n.nextPage}} <svg class="fn-right"><use xlink:href="#chevron-right"></use></svg>
        </a>
        {{end}}
        {{end}}
        <span class="fn-right pipe-comment__btn" data-id="{{$.Article.ID}}" id="pipeCommentBottomComment">
            {{$.I18n.Comment}}{{$.I18n.Colon}}{{$.Article.Title}} <svg><use xlink:href="#comment"></use></svg>
        </span>
    </nav>

</div>
{{else}}
<div class="pipe-comment__null fn-clear"
     data-title="{{.I18n.Comment}}{{.I18n.Colon}}{{.Article.Title}}"
     data-id="{{.Article.ID}}"
     id="pipeComments">
    {{.I18n.StayStep}}
    <svg>
        <use xlink:href="#comment"></use>
    </svg>
</div>
{{end}}
{{end}}