{{define "Medium/author-articles.html"}}
<!DOCTYPE html>
<html>
<head>
    {{template "head/head" .}}
    {{template "head/3rdstatistic" .}}
</head>
<body>
<div id="pjax">
    {{if .pjax}}{{noescape "<!---- pjax {#pjax} start ---->"}}{{end}}
{{template "Medium/header" .}}
{{template "Medium/nav" .}}
<div class="main">
    {{if .Setting.BasicNoticeBoard}}
    <div class="board">
        {{.Setting.BasicNoticeBoard}}
    </div>
    {{end}}
    <div class="wrapper content">
        <h2 class="module__title">
            <span>
                {{.Author.Name}}
                <span id="authorCount" class="ft__fade">0</span> <span class="ft__fade ft__13">{{.I18n.Article2}}</span>
            </span>
        </h2>
        {{template "Medium/article-list" .}}
    </div>
    {{template "Medium/bottom2" .}}
</div>
{{template "Medium/footer" .}}
<script>
  increase({{.Author.ArticleCount}}, 1000, 'authorCount', 0)
</script>
{{if .pjax}}{{noescape "<!---- pjax {#pjax} end ---->"}}{{end}}
</div>
</body>
</html>
{{end}}