{{define "Medium/footer"}}
<div class="wrapper">
    <footer class="footer">
        <div class="fn__clear">
            {{.Setting.BasicBlogSubtitle}}
            <div class="fn__right">
                <a href="{{.BlogURL}}">{{.Setting.BasicBlogTitle}}</a> &copy; {{.Year}}
                {{.Setting.BasicFooter}}
            </div>
        </div>
        <div class="fn__clear">
            {{.Statistic.StatisticViewCount}}
            {{.I18n.View}}
            &nbsp;
            {{.Statistic.StatisticArticleCount}}
            {{.I18n.Article}}
            &nbsp;
            {{.Statistic.StatisticCommentCount}}
            {{.I18n.Comment}}
            <div class="fn__right">
                Powered by <a href="https://b3log.org/" target="_blank">B3log 开源</a> •
                <a href="https://hacpai.com/tag/pipe" target="_blank">Pipe</a> •
                Theme Medium by <a href="http://vanessa.b3log.org" target="_blank">Vanessa</a>
            </div>
        </div>
    </footer>
</div>
<script type="text/javascript"
        id="script"
        data-blogurl="{{.BlogURL}}"
        data-isLogin="{{if eq .User.URole 0}}false{{else}}true{{end}}"
        src="{{.Conf.StaticServer}}/theme/x/{{.Setting.ThemeName}}/js/common.min.js?{{.Conf.StaticResourceVersion}}"
></script>
{{end}}
