{{define "Gina/article.html"}}
<!DOCTYPE html>
<html>
<head>
    {{template "Gina/head" .}}
    {{if .PreviousArticle}}
    <link rel="prev" title="{{.PreviousArticle.Title}}" href="{{.PreviousArticle.URL}}">
    {{end}}
    {{if .NextArticle}}
    <link rel="next" title="{{.NextArticle.Title}}" href="{{.NextArticle.URL}}">
    {{end}}
</head>
<body>
{{template "Gina/header" .}}
{{template "Gina/side" .}}
<div class="wrapper content">
    <article class="fn-bottom fn-padding30">
        <header class="fn-relative article__header">
            {{if gt .UserCount 1}}
            <a rel="nofollow"
               href="{{.Article.Author.URL}}"
               class="avatar tooltipped tooltipped--w fn-absolute"
               aria-label="{{.Article.Author.Name}}"
               data-src="{{.Article.Author.AvatarURL}}">
            </a>
            {{end}}
            <div {{if gt .UserCount 1}} class="fn-padding60" {{end}}>
                <h2 class="article__title">
                    {{if .Article.Topped}}
                    <svg>
                        <use xlink:href="#focus"></use>
                    </svg>
                    {{end}}
                    <a rel="bookmark" href="{{.Article.URL}}">
                        {{.Article.Title}}
                    </a>
                </h2>
                <div class="ft-gray ft-12">
                    {{range .Article.Tags}}
                    <a class="tag" rel="tag" href="{{.URL}}">{{.Title}}</a>
                    {{end}} &nbsp;
                    <time class="ft-nowrap">{{.Article.CreatedAt}}</time>
                    •
                    <span class="ft-nowrap">{{.Article.ViewCount}} {{$.I18n.View}}</span> •
                    <a href="{{.URL}}#comments" class="ft-nowrap ft-gray">{{.Article.CommentCount}}
                        {{$.I18n.Comment}}</a>
                </div>
            </div>
        </header>
        <section class="content__reset article__abstract" id="articleContent">
            {{.Article.Content}}
        </section>
        <div class="article__action fn-clear">
            <span class="action__share fn-relative action__btns fn-left">
                <span class="action__btn action__btn--wechat action__btn--article" data-type="wechat">
                    <svg><use xlink:href="#wechat"></use></svg>
                </span>
                <span class="action__btn action__btn--weibo action__btn--article" data-type="weibo">
                    <svg><use xlink:href="#weibo"></use></svg>
                </span>
                <span class="action__btn action__btn--twitter action__btn--article" data-type="twitter">
                    <svg><use xlink:href="#twitter"></use></svg>
                </span>
                <span class="action__btn action__btn--google action__btn--article" data-type="google">
                    <svg><use xlink:href="#google"></use></svg>
                </span>
                <div class="action__code"
                     data-title="{{.Article.Title}}"
                     data-blogtitle="{{$.Setting.BasicBlogTitle}}"
                     data-url="{{.Article.URL}}"
                     data-avatar="{{.Article.Author.AvatarURL}}"></div>
            </span>
            <span class="fn-right">
                {{if .Article.Editable}}
            <a class="fn-right action__btn action__btn--space"
               href="{{$.Conf.Server}}/admin/articles/post?id={{.Article.ID}}">
                <svg>
                    <use xlink:href="#edit"></use>
                </svg>
            </a>
            {{end}}
            <span class="fn-right action__btn action__btn--space action__btn--active fn-clear"
                  data-title="{{.I18n.Comment}}{{.I18n.Colon}}{{.Article.Title}}"
                  id="articleCommentBtn"
                  data-id="{{.Article.ID}}">
                {{$.I18n.Comment}} &nbsp;
                <svg class="fn-right">
                    <use xlink:href="#comment"></use>
                </svg>
            </span>
            </span>
        </div>
    </article>

    {{if gt (len .Comments) 0}}
    <div id="comments" {{if ne (len .RelevantArticles) 0}}class="fn-bottom"{{end}}>
        <div class="module__header">
            <span id="commentsCnt">{{len .Comments}}</span> {{.I18n.Comment}}
        </div>
        <div>
        {{range .Comments}}
        {{template "Gina/comment" dict "Item" . "I18n" $.I18n "Username" $.User.UName "ArticleID" $.Article.ID}}
        {{end}}
        </div>
        {{template "Gina/pagination" .}}
    </div>
    {{else}}
    <div class="{{if ne (len .RelevantArticles) 0}}fn-bottom{{end}} ft-center comment__null"
         data-title="{{.I18n.Comment}}{{.I18n.Colon}}{{.Article.Title}}"
         data-id="{{.Article.ID}}"
         id="comments">
        {{.I18n.StayStep}}
        <svg>
            <use xlink:href="#comment"></use>
        </svg>
    </div>
    {{end}}

    {{if ne (len .RelevantArticles) 0}}
    <div class="{{if or .PreviousArticle .NextArticle}}fn-bottom{{end}} fn-three fn-clear">
        {{if ne (len .RelevantArticles) 0}}
        {{range $index, $item := .RelevantArticles}}
        {{if lt $index 3}}
        <div {{if eq $index 1}} class="fn-three--mid"{{end}}>
        <div class="module__header">
            {{$.I18n.RelevantArticle}}
        </div>
        <a class="article__thumb article__thumb--relevant" data-src="{{$item.Author.AvatarURL}}"
           href="{{$item.URL}}"></a>
        <a class="module__list-title" href="{{$item.URL}}">{{$item.Title}}</a>
        {{end}}
        {{end}}
    </div>
    {{end}}
</div>
{{end}}`


{{if or .PreviousArticle .NextArticle}}
{{if gt .UserCount 1}}
<div class="fn-clear article__near fn-two">
    {{if .PreviousArticle}}
    <a href="{{.PreviousArticle.URL}}" rel="prev">
        <svg class="fn-absolute near__svg">
            <use xlink:href="#chevron-left"></use>
        </svg>
        <span class="avatar tooltipped tooltipped--n fn-absolute"
              aria-label="{{.PreviousArticle.Author.Name}}"
              data-src="{{.PreviousArticle.Author.AvatarURL}}"></span>
        <span class="near__title">
                 {{.I18n.PreArticle}}<br>
                <b class="ft-break">{{.PreviousArticle.Title}}</b>
            </span>
    </a>
    {{end}}

    {{if .NextArticle}}
    <a href="{{.NextArticle.URL}}" rel="next" class="near__next {{if .PreviousArticle}}{{else}}near__next--single{{end}}">
        <svg class="fn-absolute near__svg">
            <use xlink:href="#chevron-right"></use>
        </svg>
        <span class="avatar tooltipped tooltipped--n fn-absolute"
              aria-label="{{.NextArticle.Author.Name}}"
              data-src="{{.NextArticle.Author.AvatarURL}}"></span>
        <span class="near__title">
                {{.I18n.NextArticle}}<br>
                <b class="ft-break">{{.NextArticle.Title}}</b>
            </span>
    </a>
    {{end}}
</div>
{{else}}
<div class="fn-clear article__near fn-two">
    {{if .PreviousArticle}}
    <a href="{{.PreviousArticle.URL}}"
       class="tooltipped tooltipped--w"
       rel="prev" aria-label="{{.I18n.PreArticle}}">
        <svg class="near__icon">
            <use xlink:href="#chevron-left"></use>
        </svg>
        <b class="ft-break">{{.PreviousArticle.Title}}</b>
    </a>
    {{end}}

    {{if .NextArticle}}
    <a href="{{.NextArticle.URL}}" rel="next"
       class="tooltipped tooltipped--e fn-two--next {{if .PreviousArticle}}{{else}}near__next--single{{end}}"
       aria-label="{{.I18n.NextArticle}}">
        <b class="ft-break">{{.NextArticle.Title}}</b>
        <svg class="near__icon-last">
            <use xlink:href="#chevron-right"></use>
        </svg>
    </a>
    {{end}}
</div>
{{end}}
{{end}}

</div>

{{if ne .User.UID 0}}
<div class="editor" id="editor">
    <div class="wrapper">
        <div id="replyObject"></div>
        <div class="form">
            <div id="emotions">
                <span class="emotion__item" title="😁">😁</span>
                <span class="emotion__item" title="😂">😂</span>
                <span class="emotion__item" title="😜">😜</span>
                <span class="emotion__item" title="😫">😫</span>
                <span class="emotion__item" title="😭">😭</span>
                <span class="emotion__item" title="😰">😰</span>
                <span class="emotion__item" title="😡">😡</span>
                <span class="emotion__item" title="😤">😤</span>
                <span class="emotion__item" title="👀">👀</span>
                <span class="emotion__item" title="😱">😱</span>
                <span class="emotion__item" title="😎">😎</span>
                <span class="emotion__item" title="😋">😋</span>
                <span class="emotion__item" title="💕">💕</span>
                <span class="emotion__item" title="💔">💔</span>
                <span class="emotion__item" title="😈">😈</span>
            </div>
            <textarea id="commentContent" data-blogurl="{{.BlogURL}}" placeholder="{{.I18n.Content}}" rows="3"></textarea>
            <div class="article__action fn-clear">
                <span class="fn-right action__btn action__btn--space action__btn--active"
                      id="editorAdd"
                      data-label2="{{.I18n.Required}}"
                      data-label="{{.I18n.Comment}}">
                    {{.I18n.Confirm}}&nbsp;<svg class="fn-right"><use xlink:href="#comment"></use></svg>
                </span>
                <span class="fn-right action__btn action__btn--space"
                      id="editorCancel">
                    {{.I18n.Cancel}}&nbsp;<svg class="fn-right"><use xlink:href="#chevron-up"></use></svg>
                </span>
            </div>
        </div>
    </div>
</div>
{{end}}

{{template "Gina/footer" .}}
</body>
</html>
{{end}}