<!DOCTYPE html>
<html>
<head>
    {{template "head" .}}
</head>
<body>
{{template "header" .}}
{{template "side" .}}
<div class="wrapper content">
    <article class="fn-bottom">
        <header class="fn-relative article__header">
            {{if gt $.UserCount 1}}
            <a rel="nofollow"
               href="{{.Article.Author.URL}}"
               class="avatar tooltipped tooltipped--w fn-absolute"
               aria-label="{{.Article.Author.Name}}"
               data-src="{{.Article.Author.AvatarURL}}">
            </a>
            {{end}}
            <div {{if gt $.UserCount 1}} class="fn-padding80" {{end}}>
                <h2 class="article__title">
                    {{if .Article.Topped}}
                    <svg>
                        <use xlink:href="#focus"></use>
                    </svg>
                    {{end}}
                    <a rel="bookmark" href="{{.Article.URL}}">
                        {{.Article.Title}}
                    </a>
                </h2>
                <div class="ft-gray ft-12">
                    {{range .Article.Tags}}
                    <a class="tag" rel="tag" href="{{.URL}}">{{.Title}}</a>
                    {{end}} &nbsp;
                    <time class="ft-nowrap">{{.Article.CreatedAt}}</time>
                    •
                    <span class="ft-nowrap">{{.Article.ViewCount}} {{$.I18n.View}}</span> •
                    <a href="{{.URL}}#comments" class="ft-nowrap ft-gray">{{.Article.CommentCount}}
                        {{$.I18n.Comment}}</a>
                </div>
            </div>
        </header>
        <section class="content__reset article__abstract">
            {{.Article.Content}}
        </section>
        <div class="article__action fn-clear">
            {{if ne $.Username ""}}
            <a class="fn-right action__btn action__btn--edit action__btn--read"
               href="{{$.Conf.Server}}/admin/articles/post?id={{.Article.ID}}">
                <svg><use xlink:href="#edit"></use></svg>
            </a>
            {{end}}
            <span class="action__share fn-left">
                <span class="action__btn action__btn--reply tooltipped--w tooltipped" aria-label="{{$.I18n.Share}}">
                    <svg><use xlink:href="#reply"></use></svg>
                </span>
                <span class="action__btns" id="share">
                    <span class="action__btn action__btn--wechat" data-type="wechat">
                        <svg><use xlink:href="#wechat"></use></svg>
                    </span>
                    <span class="action__btn action__btn--weibo" data-type="weibo">
                        <svg><use xlink:href="#weibo"></use></svg>
                    </span>
                    <span class="action__btn action__btn--twitter" data-type="twitter">
                        <svg><use xlink:href="#twitter"></use></svg>
                    </span>
                    <span class="action__btn action__btn--google" data-type="google">
                        <svg><use xlink:href="#google"></use></svg>
                    </span>
                    <div id="qrCode"
                         data-title="{{.Article.Title}}"
                         data-blogtitle="{{$.Setting.BasicBlogTitle}}"
                         data-url="{{.Article.URL}}"
                         data-avatar="{{.Article.Author.AvatarURL}}"></div>
                </span>
            </span>
        </div>
    </article>
    {{if (ne (len .RelevantArticles) 0) | (ne (len .ExternalRelevantArticles) 0)}}
    <div class="fn-clear article__relevants fn-bottom">
        <div class="module fn-left">
            {{template "module-list" dict "List" .RelevantArticles "Title" .I18n.RelevantArticle "UserCount" .UserCount}}
        </div>
        <div class="module fn-left">
            {{template "module-list" dict "List" .ExternalRelevantArticles "Title" .I18n.ExternalRelevantArticle "UserCount" .UserCount}}
        </div>
    </div>
    {{end}}

    {{if gt (len .Comments) 0}}
    <div class="fn-bottom">
        <div class="module__header">
            {{len .Comments}} {{.I18n.Comment}}
        </div>
        {{range .Comments}}
        <section>
            <a rel="nofollow"
               class="avatar fn-absolute"
               data-src="{{.Author.AvatarURL}}"
               href="{{.Author.URL}}">
            </a>
            <div class="fn-padding60">
                <a href="{{.Author.AvatarURL}}" class="module__list-title">{{.Author.Name}}</a> •
                <span class="ft-nowrap ft-12 ft-gray">{{.CreatedAt}}</span>
                <div class="content-reset">
                    {{.Content}}
                </div>
            </div>
        </section>
        {{end}}
    </div>
    {{template "pagination" .}}
    {{end}}
</div>
{{template "footer" .}}
</body>
</html>


head & content
<#if previousArticlePermalink??>
    <link rel="prev" title="${previousArticleTitle}" href="${servePath}${previousArticlePermalink}">
</#if>
<#if nextArticlePermalink??>
    <link rel="next" title="${nextArticleTitle}" href="${servePath}${nextArticlePermalink}">
</#if>
