{{define "article-list"}}
<div class="wrapper content">
    {{range .articles}}
    <article class="article__item">
        <header>
            <div class="" data-src="{{.articleThumb}}"></div>
            {{if gt $.userCount 1}}
            <a rel="nofollow"
               href="{{.Path}}">
                <span class="avatar avatar--space tooltipped tooltipped--w"
                      aria-label="{name}"
                      data-src="https://img.hacpai.com/avatar/1437187265889_1482892516923.png?imageView2/1/w/80/h/80/interlace/0/q/100"></span>
            </a>
            {{end}}
            {{.Author.name}}
            <div {{if gt $.userCount 1}} class="article__meta" {{end}}>
                <h2 class="article__title">
                    {{if .Topped}}
                    <svg>
                        <use xlink:href="#focus"></use>
                    </svg>
                    {{end}}
                    <a rel="bookmark" href="{{.URL}}">
                        {{.Title}}
                    </a>
                </h2>
                <div class="ft-gray ft-12">
                    {{range .Tags}}
                    <a class="tag" rel="tag" href="{{$.conf.Server}}{{$.setting.systemPath}}{{.URL}}">{{.Title}}</a>
                    {{end}} &nbsp;
                    <time class="fn-nowrap">{{.CreatedAt}}</time>
                    •
                    <span class="fn-nowrap">{{.ViewCount}} {{$.i18n.view}}</span> •
                    <a href="{{.URL}}#comments" class="fn-nowrap ft-gray">{{.CommentCount}} {{$.i18n.comment}}</a>
                </div>
            </div>
        </header>
        {{if .Abstract}}
        <section class="content__reset article__abstract">
            {{.Abstract}}
        </section>
        {{end}}
        <div class="article__action fn-clear">
            <a class="action__read fn-left" rel="bookmark" href="{{.URL}}">{{$.i18n.readMore}}</a>
            <span class="action__share fn-left">
                <span class="action__btn action__btn--reply">
                    <svg><use xlink:href="#reply"></use></svg>
                </span>
                <span class="action__btns" id="share">
                    <span class="action__btn action__btn--wechat" data-type="wechat">
                        <svg><use xlink:href="#wechat"></use></svg>
                    </span>
                    <span class="action__btn action__btn--weibo" data-type="weibo">
                        <svg><use xlink:href="#weibo"></use></svg>
                    </span>
                    <span class="action__btn action__btn--twitter" data-type="twitter">
                        <svg><use xlink:href="#twitter"></use></svg>
                    </span>
                    <span class="action__btn action__btn--google" data-type="google">
                        <svg><use xlink:href="#google"></use></svg>
                    </span>
                    <div id="qrCode" data-url="{{.URL}}"></div>
                </span>
            </span>
        </div>
    </article>
    {{end}}


    <nav class="pagination">
        <#if 1 != paginationPageNums?first>
            <a href="${servePath}${path}/${paginationPreviousPageNum}" class="extend">${previousPageLabel}</a>
            <a class="page-num" href="${servePath}${path}/1">1</a> ...
        </#if>
        <#list paginationPageNums as paginationPageNum>
            <#if paginationPageNum == paginationCurrentPageNum>
                <span class="current page-num">${paginationPageNum}</span>
                <#else>
                    <a class="page-num" href="${servePath}${path}/${paginationPageNum}">${paginationPageNum}</a>
            </#if>
        </#list>
        <#if paginationPageNums?last != paginationPageCount> ...
            <a href="${servePath}${path}/${paginationPageCount}" class="page-num">${paginationPageCount}</a>
            <a href="${servePath}${path}/${paginationNextPageNum}" class="extend">${nextPagePabel}</a>
        </#if>
    </nav>
</div>
{{end}}