{{define "Gina/authors.html"}}
<!DOCTYPE html>
<html>
<head>
    {{template "head/head" .}}
    {{template "head/3rdstatistic" .}}
</head>
<body>
{{template "Gina/header" .}}
<div id="pjax">
    {{if .pjax}}{{noescape "<!---- pjax {#pjax} start ---->"}}{{end}}
<div class="wrapper page">
    <h1 class="page__title">
        <span id="authorCount">0</span> <span class="ft__fade ft__13">{{.I18n.TeamMember2}}</span>
    </h1>
    <div class="author fn__clear">
    {{range .Authors}}
        <a class="author__item" href="{{.URL}}">
            <div class="author__header">
                <div class="avatar" data-src="{{.AvatarURLWithSize 404}}"></div>
            </div>
            <h3 class="author__name">{{.Name}}</h3>
            <span class="ft__12">{{.ArticleCount}} {{$.I18n.Article2}}</span>
        </a>
    {{end}}
    </div>
</div>
{{template "Gina/side" .}}
    {{if .pjax}}{{noescape "<!---- pjax {#pjax} end ---->"}}{{end}}
</div>
{{template "Gina/footer" .}}
{{if .pjax}}{{noescape "<!---- pjax {#pjax} start ---->"}}{{end}}
<script>
  increase({{len .Authors}}, 1000, 'authorCount', 0)
</script>
{{if .pjax}}{{noescape "<!---- pjax {#pjax} end ---->"}}{{end}}
</body>
</html>
{{end}}