{{define "Gina/categories.html"}}
<!DOCTYPE html>
<html>
<head>
    {{template "head/head" .}}
    {{template "head/3rdstatistic" .}}
</head>
<body>
{{template "Gina/header" .}}
<div class="wrapper page">
    <h1 class="page__title">
        <span id="categoriesCount">0</span> <span class="ft-fade ft-13">{{.I18n.Categories2}}</span>
    </h1>
    {{if eq (len .Categories) 0}}
    <div class="ft-center">
        <br> <br>
            {{.I18n.NoData}}
    </div>
    {{end}}
    <ul>
        {{range .Categories}}
        <li class="categories__item">
            <div class="categories__description">
                <a href="{{.URL}}" class="categories__header">
               <span class="categories__title">
                   {{.Title}}
               </span>
                    <span class="fn-13 ft-fade">
                    <!--{{.ArticleCount}} {{$.I18n.Article2}}-->
                </span>
                </a>
                <div class="ft-gray ft-13">{{.Description}}</div>
            </div>

            <div>
                {{range .Tags}}
                <a href="{{.URL}}" class="tag">{{.Title}}</a>
                {{end}}
            </div>
        </li>
        {{end}}
    </ul>

</div>
{{template "Gina/side" .}}
{{template "Gina/footer" .}}
<script>
  increase({{len .Categories}}, 1000, 'categoriesCount', 0)
</script>
</body>
</html>
{{end}}