{{define "Gina/pagination"}}
{{if $.Pagination}}
<nav class="pagination">
    {{if gt $.Pagination.PreviousPageNum 0}}
    <a class="pagination__near" href="?p={{$.Pagination.PreviousPageNum}}">
        <svg><use xlink:href="#chevron-left"></use></svg>
    </a>
    {{end}}
    {{if gt $.Pagination.FirstPageNum 1}}
    <a class="pagination__item" href="?p=1">1</a><span class="pagination__omit">...</span>
    {{end}}
    {{range $.Pagination.PageNums}}
    <a href="?p={{.}}" class="pagination__item {{if eq . $.Pagination.CurrentPageNum}}pagination__item--active{{end}}">{{.}}</a>
    {{end}}
    {{if lt $.Pagination.LastPageNum $.Pagination.PageCount}}
    <span class="pagination__omit">...</span><a class="pagination__item" href="?p={{$.Pagination.PageCount}}">{{$.Pagination.PageCount}}</a>
    <a class="pagination__near" href="?p={{$.Pagination.NextPageNum}}">
        <svg><use xlink:href="#chevron-right"></use></svg>
    </a>
    {{end}}
</nav>
{{end}}
{{end}}