{{define "footer"}}
<footer class="footer">
    <div class="wrapper">
        <div class="footer__side fn-clear fn-three">
            <div>
                {{if eq .Setting.BasicNoticeBoard ""}}
                {{template "module-list"  dict "List" .MostUseCategories "Title" .I18n.Categories "UserCount" .UserCount}}
                {{else}}
                <div class="module__header">
                    {{.I18n.NoticeBoard}}
                </div>
                <div>
                    {{.Setting.BasicNoticeBoard}}
                </div>
                {{end}}
            </div>
            <div class="fn-three--mid">
                <div class="module__header">
                    {{.I18n.Tags}}
                </div>
                <div>
                    {{range .MostUseTags}}
                    <a class="tag" href="{{.URL}}">{{.Title}}</a>
                    {{end}}
                </div>
            </div>
            <div>
                {{template "module-list"  dict "List" .RandomArticles "Title" .I18n.RandomArticle "UserCount" .UserCount}}
            </div>
        </div>
        <div class="footer__info">
            <div class="fn-clear">
                {{.Setting.BasicBlogSubtitle}}
                <div class="fn-right">
                    <a href="{{.BlogURL}}">{{.Setting.BasicBlogTitle}}</a> &copy; {{.Year}}
                    {{.Setting.BasicFooter}}
                </div>
            </div>
            <div class="fn-clear">
                <span class="ft-gray">{{.Statistic.StatisticViewCount}}</span>
                {{.I18n.View}}
                &nbsp;
                <span class="ft-gray">{{.Statistic.StatisticPublishedArticleCount}}</span>
                {{.I18n.Article}}
                &nbsp;
                <span class="ft-gray">{{.Statistic.StatisticCommentCount}}</span>
                {{.I18n.Comment}}
                <div class="fn-right ft-gray">
                    Powered by <a href="http://b3log.org" target="_blank">B3log {{.I18n.OpenSource}}</a> •
                    <a href="https://github.com/b3log/solo.go" target="_blank">solo.go</a> {{.Setting.SystemVersion}}.
                    Theme by <a href="http://vanessa.b3log.org" target="_blank">Vanessa</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="sidebar__icon" onclick="Common.toggleSide()">
    <span class="sidebar__icon-line"></span>
    <span class="sidebar__icon-line sidebar__icon-line--middle"></span>
    <span class="sidebar__icon-line"></span>
</div>

{{if eq .Conf.RuntimeMode "dev"}}
<script type="text/javascript"
        src="{{.Conf.StaticServer}}/theme/x/{{.Setting.ThemeName}}/js/symbol.js?{{.Conf.StaticResourceVersion}}"
        charset="utf-8"></script>
<script type="text/javascript" src="{{.Conf.StaticServer}}/theme/js/jquery-3.2.1.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{{.Conf.StaticServer}}/theme/js/common.js" charset="utf-8"></script>
<script type="text/javascript"
        src="{{.Conf.StaticServer}}/theme/x/{{.Setting.ThemeName}}/js/qrcode.min.js"
        charset="utf-8"></script>
<script type="text/javascript"
        src="{{.Conf.StaticServer}}/theme/x/{{.Setting.ThemeName}}/js/common.js?{{.Conf.StaticResourceVersion}}"
        charset="utf-8"></script>
{{else}}
<script type="text/javascript"
        src="{{.Conf.StaticServer}}/theme/x/{{.Setting.ThemeName}}/js/common.min.js?{{.Conf.StaticResourceVersion}}"
        charset="utf-8"></script>
{{end}}
<script>
    var conf = {
      server: "{{.Conf.Server}}"
    }
</script>

{{end}}
