{{define "Gina/header"}}
<header class="header">
    <div class="wrapper">
        <a href="{{.BlogURL}}">
            <img src="{{.LogoURL}}" class="header__logo">
            {{.Setting.BasicBlogTitle}}
        </a>
        <a href="{{.BlogURL}}/categories">{{.I18n.Categories}}</a>
        <a href="{{.BlogURL}}/tags">{{.I18n.Tags}}</a>
        <a href="{{.BlogURL}}/archives">{{.I18n.Archives}}</a>
        {{if gt .UserCount 1}}
        <a href="{{.BlogURL}}/authors">
            {{.I18n.Team}}
        </a>
        {{end}}
        <a href="{{.BlogURL}}/atom">{{.I18n.Feed}}</a>
        {{range .Navigations}}
        <a href="{{.URL}}" target="{{.OpenMethod}}">{{.Title}}</a>
        {{end}}
        <form id="headerSearch"
              class="header__search"
              action="{{.BlogURL}}/search">
            <input type="text" name="keyword" placeholder="{{.I18n.EnterSearch}}">
            <svg>
                <use xlink:href="#search"></use>
            </svg>
        </form>
        <div class="header__tool">
            {{if eq .User.URole 0}}
            <a href="https://hacpai.com/register" class="fn-right ft-orange">{{.I18n.Register}}</a>
            <a href="https://hacpai.com/login" class="fn-right">{{.I18n.Login}}</a>
            {{else}}
            <a id="logout" href="javascript:void(0)" class="fn-right ft-orange">{{.I18n.Logout}}</a>
            {{if ne .User.URole 4}}
            <a href="/admin" class="fn-right">{{.I18n.Manage}}</a>
            {{end}}
            <div class="avatar fn-right"
                 data-src="{{.User.UAvatar}}"></div>
            {{end}}
        </div>
    </div>
</header>
{{end}}