{{define "Gina/module-list"}}
{{if ne (len .List) 0}}
<div class="module__header">
    {{.Title}}
</div>
<div class="module__list">
    <ul>
        {{range .List}}
        <li class="fn__clear">
            {{if gt $.UserCount 1}}
            <a class="avatar pipe-tooltipped pipe-tooltipped--n fn-absolute"
               href="{{.Author.URL}}"
               aria-label="{{.Author.Name}}"
               data-src="{{.Author.AvatarURLWithSize 74}}"></a>
            {{end}}
            <div{{if gt $.UserCount 1}} class="fn-padding68"{{end}}>
                <a href="{{.URL}}" class="module__list-title">{{.Title}}</a>
                <br>
                <time class="ft__12 ft__gray">{{.CreatedAt}}</time>
            </div>
        </li>
        {{end}}
    </ul>
</div>
{{end}}
{{end}}