{{define "footer"}}
<footer class="footer">
    <div class="wrapper">
        <div class="footer__side fn-clear">
            <div class="module fn-left">
                {{if eq .Setting.BasicNoticeBoard ""}}
                <div class="module__header">
                    {{.I18n.Categories}}
                </div>
                <div>
                    {{range .MostUseCategories}}
                    <a class="tag" href="{{.URL}}">{{.Title}}</a>
                    {{end}}
                </div>
                {{else}}
                <div class="module__header">
                    {{.I18n.NoticeBoard}}
                </div>
                <div>
                    {{.Setting.BasicNoticeBoard}}
                </div>
                {{end}}
            </div>
            <div class="module footer__side-module--mid fn-left">
                <div class="module__header">
                    {{.I18n.Tags}}
                </div>
                <div>
                    {{range .MostUseTags}}
                    <a class="tag" href="{{.URL}}">{{.Title}}</a>
                    {{end}}
                </div>
            </div>
            <div class="module fn-right">
                <div class="module__header">
                    {{.I18n.RandomArticle}}
                </div>
                <div class="module__list">
                    <ul>
                        {{range .RandomArticles}}
                        <li class="fn-clear">
                            <a class="avatar avatar--space fn-left"
                               href="{{.Author.URL}}"
                               data-src="{{.Author.AvatarURL}}"></a>
                            <div class="fn-left module__list-content">
                                <a href="{{.URL}}" class="module__a">{{.Title}}</a>
                                <time class="ft-12 ft-gray">{{.CreatedAt}}</time>
                            </div>
                        </li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__info">
            <div class="fn-clear">
                {{.Setting.BasicBlogSubtitle}}
                <div class="fn-right">
                    <a href="{{.BlogURL}}">{{.Setting.BasicBlogTitle}}</a> &copy; {{.Year}}
                    {{.Setting.BasicFooter}}
                </div>
            </div>
            <div class="fn-clear">
                <span class="ft-gray">{{.Statistic.StatisticViewCount}}</span>
                {{.I18n.View}}
                &nbsp;
                <span class="ft-gray">{{.Statistic.StatisticPublishedArticleCount}}</span>
                {{.I18n.Article}}
                &nbsp;
                <span class="ft-gray">{{.Statistic.StatisticCommentCount}}</span>
                {{.I18n.Comment}}
                <div class="fn-right ft-gray">
                    Powered by <a href="http://b3log.org" target="_blank">B3log {{.I18n.OpenSource}}</a> •
                    <a href="https://github.com/b3log/solo.go" target="_blank">solo.go</a> {{.Setting.SystemVersion}}.
                    Theme by <a href="http://vanessa.b3log.org" target="_blank">Vanessa</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="sidebar__icon" onclick="Common.toggleSide()">
    <span class="sidebar__icon-line"></span>
    <span class="sidebar__icon-line sidebar__icon-line--middle"></span>
    <span class="sidebar__icon-line"></span>
</div>

{{if eq .Conf.RuntimeMode "dev"}}
<script type="text/javascript"
        src="{{.Conf.StaticServer}}/theme/x/{{.Setting.ThemeName}}/js/symbol.js?{{.Conf.StaticResourceVersion}}"
        charset="utf-8"></script>
<script type="text/javascript" src="{{.Conf.StaticServer}}/theme/js/jquery-3.2.1.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{{.Conf.StaticServer}}/theme/js/common.js" charset="utf-8"></script>
<script type="text/javascript"
        src="{{.Conf.StaticServer}}/theme/x/{{.Setting.ThemeName}}/js/qrcode.min.js"
        charset="utf-8"></script>
<script type="text/javascript"
        src="{{.Conf.StaticServer}}/theme/x/{{.Setting.ThemeName}}/js/common.js?{{.Conf.StaticResourceVersion}}"
        charset="utf-8"></script>
{{else}}
<script type="text/javascript"
        src="{{.Conf.StaticServer}}/theme/x/{{.Setting.ThemeName}}/js/common.min.js?{{.Conf.StaticResourceVersion}}"
        charset="utf-8"></script>
{{end}}

{{end}}
