{{define "footer"}}
<footer class="footer">
    <div class="fn-clear">
        <span class="fn-right">
            ${viewCount1Label}${statistic.statisticBlogViewCount}
            &nbsp;
            ${articleCount1Label}${statistic.statisticPublishedBlogArticleCount}
            &nbsp; 
            ${commentCount1Label}${statistic.statisticPublishedBlogCommentCount}
            &nbsp; 
            ${onlineVisitor1Label}${onlineVisitorCnt}
        </span>
    </div>
    <div class="fn-clear">
        <a href="${servePath}">${blogTitle}</a> 
        &copy; ${year}
        ${footerContent}
        <span class="fn-right">
            Powered by <a href="http://b3log.org" target="_blank">B3log 开源</a> •
            <a href="https://hacpai.com/tag/solo" target="_blank">Solo</a> ${version}
        </span>
    </div>
    <span onclick="Util.goTop()" class="icon-goup"></span>
</footer>
{{if eq .conf.RuntimeMode "dev"}}
<script type="text/javascript" src="{{.conf.StaticServer}}/theme/js/js/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{{.conf.StaticServer}}/theme/js/js/common.js" charset="utf-8"></script>
<script type="text/javascript" src="{{.conf.StaticServer}}/theme/x/{{.setting.themeName}}/js/symbol.js?{{.conf.StaticResourceVersion}}" charset="utf-8"></script>
<script type="text/javascript" src="{{.conf.StaticServer}}/theme/x/{{.setting.themeName}}/js/common.js?{{.conf.StaticResourceVersion}}" charset="utf-8"></script>
{{else}}
<script type="text/javascript" src="{{.conf.StaticServer}}/theme/x/{{.setting.themeName}}/js/common.min.js?{{.conf.StaticResourceVersion}}" charset="utf-8"></script>
{{end}}
{{end}}
