{{define "header"}}
<header class="header">
    <div class="header__wrap">
        <a href="/">.setting.basicBlogTitle</a>
        userCount
        <a href="/authors">
            authors
        </a>
        {{.i18n.activities}}
        {{.i18n.tagsPanel}}
        {{.i18n.archives}}
        {{.i18n.categories}}
        {{range .navigations}}
        {{.Title}}{{.URL}}
        {{end}}

        <form id="headerSearch" class="header__search" action="{{.conf.Server}}/search">
            <input type="text" placeholder="{{.i18n.enterSearch}}">
            <svg>
                <use xlink:href="#search"></use>
            </svg>
        </form>
    </div>
</header>
{{end}}