{{define "side"}}
<aside class="side">
    <div class="side__nav">
        {{.Setting.blogSubtitle}}

        {{if eq .Username ""}}
        <a href="/login">{{.I18n.Login}}</a>
        <a href="/init">{{.I18n.Register}}</a>
        {{else}}
        TODO 头像
        <a href="/admin">{{.I18n.Manage}}</a>
        {{end}}
    </div>

    {{if .Toc}}
    TODO TOC
    {{else}}
    <div class="side__sub-title">
        {{.Setting.BasicBlogSubtitle}}
    </div>
    <div class="side__module">
        <div class="module__header">
            {{.I18n.RecentComment}}
        </div>
        <div class="module__list">
            <ul>
                {{range .RecentComments}}
                <li class="fn-clear">
                    <a class="avatar avatar--space fn-left"
                       href="{{.Author.URL}}"
                       data-src="{{.Author.AvatarURL}}"></a>
                    <div class="fn-left module__list-content">
                        <a href="{{.URL}}" class="module__a">{{.Title}}</a>
                        <time class="ft-12 ft-gray">{{.CreatedAt}}</time>
                    </div>
                </li>
                {{end}}
            </ul>
        </div>
        <div class="module__header">
            {{.I18n.MostCommentArticle}}
        </div>
        <div class="module__list">
            <ul>
                {{range .MostCommentArticles}}
                <li class="fn-clear">
                    <a class="avatar avatar--space fn-left"
                       href="{{.Author.URL}}"
                       data-src="{{.Author.AvatarURL}}"></a>
                    <div class="fn-left module__list-content">
                        <a href="{{.URL}}" class="module__a">{{.Title}}</a>
                        <time class="ft-12 ft-gray">{{.CreatedAt}}</time>
                    </div>
                </li>
                {{end}}
            </ul>
        </div>
        <div class="module__header">
            {{.I18n.MostViewArticle}}
        </div>
        <div class="module__list">
            <ul>
                {{range .MostViewArticles}}
                <li class="fn-clear">
                    <a class="avatar avatar--space fn-left"
                       href="{{.Author.URL}}"
                       data-src="{{.Author.AvatarURL}}"></a>
                    <div class="fn-left module__list-content">
                        <a href="{{.URL}}" class="module__a">{{.Title}}</a>
                        <time class="ft-12 ft-gray">{{.CreatedAt}}</time>
                    </div>
                </li>
                {{end}}
            </ul>
        </div>
    </div>
    {{end}}
</aside>
{{end}}