{{define "side"}}
<aside class="side">
    <div>
        <div class="side__nav">
            {{.Setting.blogSubtitle}}

            {{if eq .Username ""}}
            <a href="/login">{{.I18n.Login}}</a>
            <a href="/init">{{.I18n.Register}}</a>
            {{else}}
            TODO 头像
            <a href="/admin">{{.I18n.Manage}}</a>
            {{end}}
        </div>

        if toc
            toc
        else
        <div>
            {{.Setting.BasicBlogSubtitle}}
        </div>
        最近评论
        评论最多
        访问最多
        end

        TODO
        文章页面
        站外相关
        相关
    </div>
</aside>
{{end}}