<!DOCTYPE html>
<html>
<head>
    {{template "head" .}}
</head>
<body>
{{template "header" .}}
<div class="wrapper page">
    <h1 class="page__title">
        <span id="tagArticleCount">0</span> <span class="ft-fade ft-13">{{.I18n.Tags2}}</span>
    </h1>
    <div class="tags" id="tags">
        {{range .Tags}}
        <a href="{{.URL}}" data-count="{{.Count}}" class="tag">{{.Title}} ({{.Count}})</a>
        {{end}}
    </div>
</div>
{{template "side" .}}
{{template "footer" .}}
<script>
  increase({{len .Tags}}, 1000, 'tagArticleCount', 0)
  addLevelToTag()
</script>
</body>
</html>
