{{define "Gina/tags.html"}}
<!DOCTYPE html>
<html>
<head>
    {{template "head/head" .}}
    {{template "head/3rdstatistic" .}}
</head>
<body>
{{template "Gina/header" .}}
<div id="pjax">
    {{if .pjax}}{{noescape "<!---- pjax {#pjax} start ---->"}}{{end}}
<div class="wrapper page">
    <h1 class="page__title">
        <span id="tagArticleCount">0</span> <span class="ft__fade ft__13">{{.I18n.Tags2}}</span>
    </h1>
    <div class="tags" id="tags">
        {{range .Tags}}
        <a href="{{.URL}}" data-count="{{.ArticleCount}}" class="tag">{{.Title}} ({{.ArticleCount}})</a>
        {{end}}
    </div>
</div>
{{template "Gina/side" .}}
    {{if .pjax}}{{noescape "<!---- pjax {#pjax} end ---->"}}{{end}}
</div>
{{template "Gina/footer" .}}
{{if .pjax}}{{noescape "<!---- pjax {#pjax} start ---->"}}{{end}}
<script>
  increase({{len .Tags}}, 1000, 'tagArticleCount', 0)
  addLevelToTag()
</script>
{{if .pjax}}{{noescape "<!---- pjax {#pjax} end ---->"}}{{end}}
</body>
</html>
{{end}}