{{define "Koma/archive-articles.html"}}
<!DOCTYPE html>
<html>
<head>
    {{template "Koma/head" .}}
</head>
<body>
{{template "Koma/header" .}}
<div class="wrapper">
    <h1 class="page__headline">
        {{.Archive.Title}}
        <span id="archiveArticleCount">0</span> <span class="ft-fade ft-13">{{.I18n.Article2}}</span>
    </h1>
</div>
{{template "Koma/article-list" .}}
{{template "Koma/side" .}}
{{template "Koma/footer" .}}
<script>
  increase({{.Archive.ArticleCount}}, 1000, 'archiveArticleCount', 0)
</script>
</body>
</html>
{{end}}