{{define "Koma/archives.html"}}
<!DOCTYPE html>
<html>
<head>
    {{template "head/head" .}}
    {{template "head/3rdstatistic" .}}
</head>
<body>
{{template "Koma/side" .}}
<div class="main">
    <article class="article__item">
        <header class="article__header">
            <h2>
                <span id="archiveMonthCount">0</span> <span class="ft-fade ft-13">{{.I18n.Month2}}</span>
                <span id="archiveArticleCount">0</span> <span class="ft-fade ft-13">{{.I18n.Article2}}</span>
            </h2>
        </header>
        <div class="page__content--archive">
            {{range .Archives}}
            <a href="{{.URL}}" class="tag tag--page">
                {{.Title}}
                <span class="ft-fade">{{.ArticleCount}} {{$.I18n.Space}}</span>
            </a>
            {{end}}
        </div>
    </article>

    {{template "Koma/footer" .}}
</div>
<script>
  increase({{len .Archives}}, 1000, 'archiveMonthCount', 0)
  increase({{.Statistic.StatisticArticleCount}}, 1000, 'archiveArticleCount', 0)
</script>
</body>
</html>
{{end}}