@import "../../../theme/scss/reset";
@import "../../../theme/scss/function";
@import "../../../theme/scss/tip";
@import "../../../theme/scss/content";

body {
  color: $text-color;
}

// card
.card {
  background-color: #fff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 4px;

  &__title {
    padding: 15px 15px 0;
  }

  &__body {
    padding: 20px;
  }

  &__batch-action {
    padding: 35px 20px 25px;
  }

  &--dark {
    background-color: $black-bg;
    color: #fff;
  }

  &--info {
    background-color: $blue;
    color: #fff;
  }

  &--danger {
    background-color: $red;
    color: #fff;
  }

  &--space {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .card--space {
    margin-bottom: 15px;
  }
}
// alert
.alert {
  border-top: 4px solid rgba(0,0,0,.12);
  color: #fff;
  display: flex;
  font-size: 14px;
  margin: 4px auto;
  padding: 16px;
  transition: .3s cubic-bezier(.25,.8,.5,1);
  line-height: 20px;

  .icon {
    color: rgba(0,0,0,.3);
    margin: 0px 10px;
    height: 20px;
    width: 20px;
  }

  &--danger {
    background-color: $red;
  }
}


// avatar
.avatar {
  border-radius: 50%;
  background-color: $list-hover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;

  &--mid {
    height: 46px;
    width: 46px;
  }

  &--small {
    height: 30px;
    width: 30px;
  }

  &--space {
    margin-right: 15px;
  }
}
@media (max-width: 768px) {
  .avatar--mid {
    height: 24px;
    width: 24px;
    margin-right: 10px;
  }
}

// tag
.tags {
  .tag {
    margin-right: 10px;
  }
}
.tag {
  color: $black;
  font-size: 12px;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
    color: $gray;
  }
}
