// checkbox
label.checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  margin-bottom: 30px;

  .checkbox__icon {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 1px solid $fade;
    border-radius: 1px;
    margin-top: 6px;
    transition: .2s;
  }

  [type=checkbox] {
    position: absolute;
    left: -9999px;
    opacity: 0;

    &:not(:checked):disabled + .checkbox__icon {
      border: none;
      background-color: $fade-lighter;

    }

    &:checked + .checkbox__icon {
      top: -6px;
      left: -3px;
      width: 8px;
      height: 18px;
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: 2px solid $blue;
      border-bottom: 2px solid $blue;
      transform: rotate(40deg);
      backface-visibility: hidden;
      transform-origin: 100% 100%;

    }

    &:checked:disabled + .checkbox__icon {
      border-right: 2px solid $fade-lighter;
      border-bottom: 2px solid $fade-lighter;

    }

    &:indeterminate + .checkbox__icon {
      top: -11px;
      left: -12px;
      width: 10px;
      height: 22px;
      border-top: none;
      border-left: none;
      border-right: 2px solid $blue;
      border-bottom: none;
      transform: rotate(90deg);
      backface-visibility: hidden;
      transform-origin: 100% 100%;

    }

    &:indeterminate:disabled + .checkbox__icon {
      border-right: 2px solid $fade-lighter;
      background-color: transparent;

    }
  }
}

// btn
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: .25rem;
  transition: all .15s ease-in-out;
  cursor: pointer;
  color: #fff;
  box-shadow: $shadow;

  &:hover {
    box-shadow: $shadow-hover;
  }

  &:active,
  &:focus {
    box-shadow: $shadow-hover;
  }

  &--small {
    font-size: .8125rem;
    padding: .2rem .4rem;
  }

  &--space {
    margin-left: 15px;
  }

  &--info {
    background-color: #1976d2;
    border: 1px solid #1976d2;

    &:active,
    &:focus {
      background-color: #028ee1;
      border: 1px solid #028ee1;
    }
  }

  &--danger {
    background-color: #ef5350;
    border: 1px solid #ef5350;

    &:active,
    &:focus {
      background-color: #e6294b;
      border: 1px solid #e6294b;
    }
  }

  &--success {
    background-color: #00bcd4;
    border: 1px solid #00bcd4;

    &:active,
    &:focus {
      background-color: #1ec4d9;
      border: 1px solid #1ec4d9;
    }
  }
}
