.card > .list {
  list-style: none;

  & > li {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    padding: 15px;

    &:hover {
      background-color: $list-hover;
    }

    .list__title {
      line-height: 24px;
      font-size: 16px;
      font-weight: 400;
      color: $text-title;
    }
    a.list__title:hover {
      text-decoration: none;
      color: $text-color;
    }

    .list__meta {
      line-height: 22px;
      color: $fade;
    }
  }
}

.card .pagination {
  margin: 30px 10px 15px;
}
