.card > .list {
  & > li.fn__flex {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    padding: 15px;

    &:last-child {
      border-bottom-width: 0;
    }

    &:hover {
      background-color: $list-hover;
    }

    &.selected {
      background-color: $blue-lighter;
    }

    .list__title {
      line-height: 28px;
      font-size: 16px;
      font-weight: 400;
      color: $text-title;
    }

    a.list__title:hover {
      text-decoration: none;
      color: $text-color;
    }

    .list__meta {
      line-height: 22px;
      color: $fade;
    }
  }
}

.card .pagination--wrapper {
  border-top: 1px solid $border-color;
  padding: 20px 10px 20px 10px;
  margin-top: -10px;
  overflow: auto;
}
