@media (max-width: 768px) {
  .header__logo {
    display: none !important;
  }

  .main {
    margin-left: 0 !important;
    .content {
      padding: 15px;
      min-height: auto;

      .admin__themes .card {
        width: 100%;
      }
    }
  }

  .admin__about {
    display: block;

    .about__side {
      text-align: center;
      margin: 30px;
    }
  }

  .card--space {
    margin-bottom: 15px;
  }

  .snack,
  .snack__content {
    width: 100%;
  }

  .error .error__content {
    width: auto;
    padding: 40px;
  }

  .default__content .login .card {
    width: auto;
    margin: 0 15px;
  }

  .init {
    .init__center {
      width: auto;
      height: auto;
    }
    .init__card .card {
      margin-top: 0;
      width: 100%;
      margin-bottom: 15px;
    }
  }
}
