@media (max-width: 768px) {
  .header__logo {
    display: none !important;
  }

  .main {
    margin-left: 0 !important;
    .content {
      padding: 15px;
      min-height: auto;

      .admin__themes .card {
        width: 100%;
      }
    }
  }

  .admin__about {
    display: block;

    .about__side {
      text-align: center;
      margin: 30px;
    }
  }

  .card--space {
    margin-bottom: 15px;
  }

  .snack,
  .snack__content {
    width: 100%;
  }

  .default__content .login .card {
    width: auto;
    margin: 0 15px;
  }

  .pagination a {
    margin: 2px;
  }

  .list .admin__comment-author {
    display: none;
  }

  .avatar--mid {
    height: 24px;
    width: 24px;
    margin-right: 10px;
  }

}
