/**
z-index rule
side 9
header 10
menu 100
snack 1000
*/

// Table of Contents
// Colors
$white: #fff !default;
$blue: #1976d2 !default;
$blue-lighter: #eef5f9 !default;
$border-color: rgba(120, 130, 140, 0.13) !default;
$text-color: #67757c !default;
$text-title: #455a64 !default;
$red: #ef5350 !default;
$success: #00bcd4 !default;
$list-hover: rgba(0, 0, 0, 0.02) !default;
$fade: rgba(0, 0, 0, .38) !default;
$fade-lighter: rgba(0, 0, 0, .12) !default;
$gray: rgba(0, 0, 0, .54) !default;
$black-bg: #2f3d4a !default;

$blue-light: #dbedff !default;
$red: #d23f31 !default;
$red-light: #ffdce0 !default;
$green: #569e3d !default;
$fade-white: rgba(255, 255, 255, .87)!default;
$black: #3b3e43 !default;
$black-light: #616161 !default;

// Fonts
$font-family-base: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif !default;
$font-family-code: mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace !default;

// shadow
$shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12) !default;
$shadow-hover: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2) !default;

// theme
$theme-primary: $black;
$theme-accent: $red;
$theme-secondary: $black-light;
$theme-info: $blue-lighter;
$theme-warning: undefined;
$theme-error: $red-light;
$theme-success: $blue-light;

// transition
$transition: all .15s ease-in-out !default;
