.console {
  background-color: $blue-lighter;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 50px 0;
  box-sizing: border-box;

  .card {
    width: 650px;
    margin: 0 auto;
    z-index: 1;
    max-height: 100%;
    overflow: auto;
  }
}
.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .console {
    padding: 15px
  }
}

