// ripple
.ripple {

  &__container {
    color: inherit;
    border-radius: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
  }

  &__animation {
    color: inherit;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: currentColor;
    opacity: 0;
    transition: 0.4s cubic-bezier(0, 0, 0.2, 1);
    pointer-events: none;
    overflow: hidden;
    will-change: opacity;

    &--enter {
      transition: none;
    }

    &--visible {
      opacity: 0.15;
    }
  }
}

// admin side menu
.list--group__header--active .list__tile .list__tile__action:last-of-type .icon {
  transform: rotate(-180deg);
}

.list__tile__action .icon {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}

// stepper
.stepper {
  overflow: hidden;
  position: relative;

  .stepper__step:not(.stepper__step--active):not(.stepper__step--complete):not(.stepper__step--error) .stepper__step__step {
    background: $fade;
  }

  &__header {
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .divider {
      align-self: center;
      margin: 0 -16px;
      background-color: $fade-lighter;
      border: none;
      display: block;
      height: 1px;
      flex: 1;
      width: 100%;
    }
  }

  &__step {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 24px;
    position: relative;

    .stepper__label {
      color: $fade;
    }

    &__step {
      align-items: center;
      border-radius: 50%;
      display: inline-flex;
      font-size: 12px;
      justify-content: center;
      height: 24px;
      margin-right: 8px;
      min-width: 24px;
      width: 24px;
      transition: .3s cubic-bezier(.25, .8, .25, 1);
      color: #fff;
    }

    &--active .stepper__label {
      transition: .3s cubic-bezier(.4, 0, .6, 1);
      color: $text-color
    }

    &--active .stepper__step__step {
      background: $blue;
      color: #fff
    }
  }

  &--is-booted .stepper__content, .stepper--is-booted .stepper__wrapper {
    transition: .4s cubic-bezier(.4, 0, .6, 1)
  }

  &__content {
    top: auto;
    bottom: 0;
    padding: 16px;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
  }
}

// form input
.input-group {
  display: flex;
  flex: 1 1;
  flex-wrap: wrap;
  min-width: 24px;
  padding: 18px 0 0;
  position: relative;
  width: 100%;
  outline: none;
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);

  label {
    display: inline-block;
    font-size: 16px;
    line-height: 32px;
    height: 30px;
    max-width: 90%;
    min-width: 0;
    overflow: hidden;
    pointer-events: none;
    text-align: left;
    text-overflow: ellipsis;
    transform: translate3d(0, 0, 0);
    transform-origin: top left;
    transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    white-space: nowrap;
    width: 100%;
    z-index: 0;
  }

  &__input {
    display: flex;
    flex: 1 0 100%;
    min-width: 0;
    min-height: 30px;
  }

  &__selections {
    min-height: 40px;
  }

  &--text-field {
    label {
      position: absolute;
      top: 18px;
      left: 0;
    }
    input,
    textarea {
      caret-color: $blue;
      font-size: 16px;
      border: 0;
      flex: 1;
    }
    input {
      box-shadow: none;
      flex: 1;
      height: 30px;
      margin: 0;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .input-group__counter {
      margin-left: auto;

      &--error {
        color: $red
      }
    }

    &:not(.input-group--single-line).input-group--focused:not(.input-group--textarea) label,
    &:not(.input-group--single-line).input-group--placeholder:not(.input-group--textarea) label,
    &.input-group--dirty.input-group--select label,
    &.input-group--dirty:not(.input-group--textarea) label {
      transform: translate3d(0, -18px, 0) scale(0.75);
    }

    &:not(.input-group--single-line):not(.input-group--error).input-group--focused label {
      color: #1976d2;
    }
    &.input-group--focused:not(.input-group--disabled) .input-group__details:after {
      transform: scaleX(1);
    }
  }

  &--select {
    cursor: pointer;
    .input-group__selections__comma {
      font-size: 16px;
      padding-right: 4px;
    }

    .chip {
      align-items: center;
      border-radius: 28px;
      color: rgba(0,0,0,0.87);
      cursor: default;
      display: inline-flex;
      height: 32px;
      font-size: 13px;
      margin: 4px;
      outline: none;
      padding: 0 12px;
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
      vertical-align: middle;
      white-space: nowrap;
      background: #e0e0e0;

      &__close {
        display: none;
      }

      &.chip--selected {
        background: #82b1ff;
        color: #fff;
      }
    }
  }

  &--required {
    label:after {
      content: '*';
    }

    &.input-group--focused label:after {
      color: $red;
    }
  }

  &.input-group--error {
    flex: 1 0;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    color: $red;

    .input-group__details:after,
    .input-group__details:before {
      background-color: $red;
    }

    label {
      color: $red;
    }
  }

  // underline
  &__details {
    display: flex;
    padding-top: 4px;
    flex: 1 0 100%;
    font-size: 12px;
    min-height: 26px;
    overflow: hidden;
    position: relative;
    width: 100%;

    &:after,
    &:before {
      content: '';
      position: absolute;
      left: 0;
      transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      background-color: rgba(0, 0, 0, .42)
    }
    &:after {
      background-color: #1976d2;
      top: 0;
      height: 2px;
      transform: scaleX(0);
      transform-origin: center center 0;
      width: 100%;
      z-index: 1;
    }
    &:before {
      top: 0;
      height: 1px;
      width: 100%;
      z-index: 0;
    }
  }
}

// pagination
.pagination {
  display: inline-flex;
  list-style-type: none;
  height: 40px;
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
  padding: 0;
  align-items: center;

  & > li {
    align-items: center;
    display: flex
  }

  a {
    color: $text-color;
    transition: .3s cubic-bezier(0, 0, .2, 1);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    height: 34px;
    width: 34px;
    margin: .3rem;
    text-decoration: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2);

    &:hover {
      box-shadow: 0 1px 5px rgba(0, 0, 0, .2), 0 2px 2px rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12)
    }
  }

  .pagination {
    &__item--active {
      pointer-events: none;
      cursor: default;
      color: #fff;
      background: $blue;
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px rgba(0, 0, 0, .14), 0 1px 10px rgba(0, 0, 0, .12)
    }

    &__navigation {
      position: relative;

      .icon {
        font-size: 20px;
        transition: .2s cubic-bezier(.4, 0, .6, 1);
        font-weight: 700;
        display: block;
        line-height: 32px;
        position: absolute;
        top: -1px;
        left: 11px;
      }

      &--disabled {
        pointer-events: none;
        opacity: .6
      }
    }

    &__more {
      margin: .3rem;
      display: inline-flex;
      align-items: flex-end;
      justify-content: center;
      height: 2rem;
      width: 2rem
    }
  }
}

// snak
.snack {
  position: fixed;
  display: flex;
  pointer-events: none;
  visibility: visible;
  z-index: 1000;

  &--top {
    top: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0) translateZ(0);
  }

  &__content {
    border-top: 4px solid rgba(0,0,0,.12);
    color: #fff;
    display: flex;
    font-size: 14px;
    padding: 17px 15px 18px;
    transition: .3s cubic-bezier(.25,.8,.5,1);
    pointer-events: auto;
    max-width: 568px;
    min-width: 288px;
    align-items: center;
    justify-content: space-between;
    box-shadow: $shadow;
    background-color: $red;

    .icon {
      height: 18px;
      width: 18px;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        box-shadow: $shadow-hover;
      }
    }
  }

  &.success .snack__content {
    background-color: $success;
  }
}

// menu
.menu {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.menu--disabled {
  cursor: not-allowed;
}
.menu--disabled .menu__activator,
.menu--disabled .menu__activator > * {
  cursor: not-allowed;
  pointer-events: none;
}
.menu__activator {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.menu__activator input[readonly] {
  cursor: pointer;
}
.menu__activator .toolbar__side-icon {
  margin: 0;
}
.menu__content {
  position: absolute;
  max-width: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  box-shadow: $shadow-hover;
  border-radius: 4px;
  // for multiple select
  .input-group--selection-controls.checkbox {
    display: none;
  }
  // select input
  .card > .list li {
    border-bottom-width: 0;
    padding: 0;
    .list__tile {
      cursor: pointer;
      line-height: 40px;
      padding: 0 15px;
    }
    .list__tile--active {
      color: $blue;
      background-color: rgba(0, 0, 0, 0.02);
    }
  }
  .list  {
    background: #fff;
    list-style-type: none;
    padding: 8px 0;
    font-size: 16px;

    .list__tile__title a,
    .list__tile__title div {
      line-height: 40px;
      padding: 0 15px;
      cursor: pointer;
      transition: .3s cubic-bezier(.25,.8,.5,1);
      display: block;
      color: $text-color;

      &:hover {
        text-decoration: none;
        background-color: $list-hover;
      }
    }
  }
}
.menu__content--active {
  pointer-events: none;
}
.menu__content--dropdown {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 1px solid rgba(0,0,0,0.12);
}
.menu-transition-enter .list__tile {
  min-width: 0;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  opacity: 0;
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
  pointer-events: none;
}
.menu-transition-enter-to .list__tile {
  pointer-events: auto;
  opacity: 1;
}
.menu-transition-enter-to .list__tile--active {
  -webkit-transform: none !important;
  transform: none !important;
}
.menu-transition-leave-to {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.menu-transition-leave-active,
.menu-transition-leave-to {
  pointer-events: none;
}
.menu-transition-enter,
.menu-transition-leave-to {
  opacity: 0;
}
.menu-transition-enter-to,
.menu-transition-leave {
  opacity: 1;
}
.menu-transition-enter-active,
.menu-transition-leave-active {
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.5, 1);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.5, 1);
}
.menu-transition-enter.menu__content--auto .list__tile--active {
  opacity: 1;
  -webkit-transform: none !important;
  transform: none !important;
  pointer-events: auto;
}

// transition
.slide-y-transition-enter-active,
.slide-y-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}
.slide-y-transition-enter,
.slide-y-transition-leave-to {
  opacity: 0;
  transform: translateY(-15px);
}
.slide-y-reverse-transition-enter-active,
.slide-y-reverse-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}
.slide-y-reverse-transition-enter,
.slide-y-reverse-transition-leave-to {
  opacity: 0;
  transform: translateY(15px);
}

.tab-transition-enter {
  transform: translate(100%, 0);
}

.tab-transition-enter-to {
  transform: translate(0, 0);
}

.tab-transition-leave,
.tab-transition-leave-active {
  position: absolute;
}

.tab-transition-leave-to {
  position: absolute;
  transform: translate(-100%, 0);
}

.tab-reverse-transition-enter {
  transform: translate(-100%, 0);
}

.tab-reverse-transition-leave,
.tab-reverse-transition-leave-to {
  position: absolute;
  transform: translate(100%, 0);
}
