{{define "search.html"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{.I18n.Search}} - {{.Title}}</title>
    <meta name="keywords" content="{{.MetaKeywords}}"/>
    <meta name="description" content="{{.MetaDescription}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="owner" content="B3log Team"/>
    <meta name="copyright" content="B3log"/>
    <meta http-equiv="Window-target" content="_top"/>
    <link rel="icon" type="image/x-icon" href="{{.FaviconURL}}">
    <link href="{{.BlogURL}}/atom" type="application/rss+xml" rel="alternate"/>
    <link type="text/css" rel="stylesheet"
          href="{{.Conf.StaticServer}}/theme/css/search.css?{{.Conf.StaticResourceVersion}}"/>
    <link rel="manifest" href="{{.Conf.Server}}/theme/js/manifest.json">
</head>
<body>
<nav class="header">
    <div class="wrapper">
        <div class="search fn-clear">
            <input
                    onblur="this.parentNode.className='search fn-clear'"
                    onfocus="this.parentNode.className='search fn-clear search--focus'">
            <button>
                {{.I18n.Search}}
            </button>
        </div>
    </div>
</nav>
<div class="wrapper search-list">
    {{if gt (len $.Pagination.PageNums) 1}}
    <nav class="pagination">
        {{if gt $.Pagination.PreviousPageNum 0}}
        <a class="pagination__near" href="?p={{$.Pagination.PreviousPageNum}}">
            <svg><use xlink:href="#chevron-left"></use></svg>
        </a>
        {{end}}
        {{if gt $.Pagination.FirstPageNum 1}}
        <a class="pagination__item" href="?p=1">1</a>{{if ne $.Pagination.FirstPageNum 2}}<span class="pagination__omit">...</span>{{end}}
        {{end}}
        {{range $.Pagination.PageNums}}
        <a href="?p={{.}}" class="pagination__item {{if eq . $.Pagination.CurrentPageNum}}pagination__item--active{{end}}">{{.}}</a>
        {{end}}
        {{if lt $.Pagination.LastPageNum $.Pagination.PageCount}}
        {{if ne $.Pagination.LastPageNum (minus $.Pagination.PageCount 1)}}<span class="pagination__omit">...</span>{{end}}
        <a class="pagination__item" href="?p={{$.Pagination.PageCount}}">{{$.Pagination.PageCount}}</a>
        {{end}}
        {{if lt $.Pagination.CurrentPageNum $.Pagination.PageCount}}
        <a class="pagination__near" href="?p={{$.Pagination.NextPageNum}}">
            <svg><use xlink:href="#chevron-right"></use></svg>
        </a>
        {{end}}
    </nav>
    {{end}}
</div>
<footer class="footer">
    <div class="wrapper">
        <div class="fn-clear">
            {{.Setting.BasicBlogSubtitle}}
            <div class="fn-right">
                <a href="{{.BlogURL}}">{{.Setting.BasicBlogTitle}}</a> &copy; {{.Year}}
                {{.Setting.BasicFooter}}
            </div>
        </div>
        <div class="fn-clear">
            <span>{{.Statistic.StatisticViewCount}}</span>
            {{.I18n.View}}
            &nbsp;
            <span>{{.Statistic.StatisticArticleCount}}</span>
            {{.I18n.Article}}
            &nbsp;
            <span>{{.Statistic.StatisticCommentCount}}</span>
            {{.I18n.Comment}}
            <div class="fn-right">
                Powered by <a href="http://b3log.org/" target="_blank">B3log 开源</a> •
                <a href="https://hacpai.com/tag/Pipe" target="_blank">Pipe</a> •
                Theme <a href="https://github.com/b3log/pipe-themes" target="_blank">Gina</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
{{end}}