{{define "9IPHP/archives.html"}}
<!DOCTYPE html>
<html>
<head>
    {{template "head/head" .}}
    {{template "head/3rdstatistic" .}}
</head>
<body>
{{template "9IPHP/header" .}}
<div class="main wrapper fn-clear">
    <div class="content page">
        <h1 class="page__title">
            <span id="archiveMonthCount">0</span> <span class="ft-fade ft-13">{{.I18n.Month2}}</span>
            <span id="archiveArticleCount">0</span> <span class="ft-fade ft-13">{{.I18n.Article2}}</span>
        </h1>
        {{range .Archives}}
        <div class="page__item">
            <a href="{{.URL}}">
                {{.Title}}
                <span class="ft-fade ft-13">{{.ArticleCount}} {{$.I18n.Space}}</span>
            </a>
        </div>
        {{end}}
    </div>
    {{template "9IPHP/side" .}}
</div>
{{template "9IPHP/footer" .}}
<script>
  increase({{len .Archives}}, 1000, 'archiveMonthCount', 0)
  increase({{.Statistic.StatisticArticleCount}}, 1000, 'archiveArticleCount', 0)
</script>
</body>
</html>
{{end}}