{{define "9IPHP/archive-articles.html"}}
<!DOCTYPE html>
<html>
<head>
    {{template "head/head" .}}
    {{template "head/3rdstatistic" .}}
</head>
<body>
{{template "9IPHP/header" .}}
<div id="pjax" class="fn__flex-1">
    {{if .pjax}}{{noescape "<!---- pjax {#pjax} start ---->"}}{{end}}
<div class="main wrapper fn__clear">
    <div class="content">
        <h1 class="page__title">
            {{.Archive.Title}}
            <span id="archiveArticleCount" class="ft__fade">0</span> <span class="ft__fade ft__13">{{.I18n.Article2}}</span>
        </h1>
        {{template "9IPHP/article-list" .}}
    </div>
    {{template "9IPHP/side" .}}
</div>
    {{if .pjax}}{{noescape "<!---- pjax {#pjax} end ---->"}}{{end}}
</div>

{{template "9IPHP/footer" .}}

{{if .pjax}}{{noescape "<!---- pjax {#pjax} start ---->"}}{{end}}
<script>
  increase({{.Archive.ArticleCount}}, 1000, 'archiveArticleCount', 0)
</script>
{{if .pjax}}{{noescape "<!---- pjax {#pjax} end ---->"}}{{end}}
</body>
</html>
{{end}}