{{define "9IPHP/module-list"}}
{{if ne (len .List) 0}}
<div class="module">
    <div class="module__header">
        {{.Title}}
    </div>
    <div class="module__list">
        <ul>
            {{range .List}}
            <li class="fn__clear">
                {{if gt $.UserCount 1}}
                <a class="avatar pipe-tooltipped pipe-tooltipped--n"
                   href="{{.Author.URL}}"
                   aria-label="{{.Author.Name}}"
                   data-src='{{if eq "" .Author.AvatarURL}}{{.Author.AvatarURLWithSize 74}}{{else}}{{.Author.AvatarURL}}{{end}}'
                ></a>
                {{end}}
                <div{{if gt $.UserCount 1}} class="module__list-avatar"{{end}}>
                <a href="{{.URL}}" class="module__list-title">{{.Title}}</a>
                <br>
                <time class="ft__12 ft__gray">{{.CreatedAt}}</time>
                </div>
            </li>
            {{end}}
        </ul>
    </div>
</div>
{{end}}
{{end}}