{{define "9IPHP/footer"}}
<footer class="footer">
    <div class="wrapper">
            <div class="fn__clear">
                {{.Setting.BasicBlogSubtitle}}
                <div class="fn__right">
                    <a href="{{.BlogURL}}">{{.Setting.BasicBlogTitle}}</a> &copy; {{.Year}}
                    {{.Setting.BasicFooter}}
                </div>
            </div>
            <div class="fn__clear">
                {{.Statistic.StatisticViewCount}}
                {{.I18n.View}}
                &nbsp;
                {{.Statistic.StatisticArticleCount}}
                {{.I18n.Article}}
                &nbsp;
                {{.Statistic.StatisticCommentCount}}
                {{.I18n.Comment}}
                <div class="fn__right">
                    Powered by <a href="https://b3log.org/" target="_blank">B3log 开源</a> •
                    <a href="https://hacpai.com/tag/pipe" target="_blank">Pipe</a> •
                    Theme 9IPHP
                    <sup>[<a href="https://github.com/9IPHP/9IPHP" target="_blank">ref</a>]</sup>
                    by <a href="http://vanessa.b3log.org" target="_blank">Vanessa</a>
                </div>
            </div>
    </div>
</footer>
<div id="goTop" class="btn__fix btn__fix--top pipe-tooltipped pipe-tooltipped--w" aria-label="{{.I18n.GoTop}}">
    <svg><use xlink:href="#icon-chevron-up"></use></svg>
</div>

<script type="text/javascript"
        id="script"
        data-blogurl="{{.BlogURL}}"
        data-isLogin="{{if eq .User.URole 0}}false{{else}}true{{end}}"
        src="{{.Conf.StaticServer}}/theme/x/{{.Setting.ThemeName}}/js/common.min.js?{{.Conf.StaticResourceVersion}}"
></script>

{{end}}
