/**
 * skin style
 *
 * @author <a href="http://vanessa.b3log.org">Liyuan Li</a>
 * @version 0.1.0.0, Dec 20, 2018
*/
@import 'variables';
@import '../../../scss/basic';
@import '../../../scss/github';
@import '../../../scss/aplayer';

// reset
body {
  color: #555;
  background-color: #eee;
  font-size: 14px;
}

a {
  color: #555;
  transition: $transition;

  &:hover {
    color: #222;
  }
}

.aplayer {
  margin: 0;
}

// common
.module {
  background-color: hsla(0,0%,100%,.6);
  box-sizing: border-box;

  &--space {
    padding: 6px 12px;
  }

  &--bottom {
    margin-bottom: 12px;
  }
}

// framework
.wrapper {
  max-width: 980px;
  padding: 0 10px;
  margin: 0 auto;
}

.main {
  flex: 1 1 66.6%;
  max-width: 66.6%;
}

.side {
  flex: 1 1 33.4%;
  margin-left: 24px;
}

.header {
  top: 0;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 70px;
  line-height: 18px;
  padding: 26px 10px;
  background-color: hsla(255, 255, 255, .8);
  z-index: 1;

  &__logo {
    position: relative;
    display: inline-block;
    &:hover {
      text-decoration: none;
    }
    h1 {
      color: #555;
      font-size: 20px;
      font-weight: 500;
      transition: $transition;
      &:hover {
        color: #222;
      }
    }
    img {
      position: absolute;
      width: 40px;
      height: 40px;
      top: -16px;
      right: -50px;
    }
  }

  &__links {
    float: right;
    img,
    svg {
      height: 16px;
      width: 16px;
      margin-right: 5px;
    }

    a {
      color: #888;
      font-size: 16px;
      margin-left: 35px;
      &:hover {
        color: #222;
        text-decoration: none;
      }
    }
  }

  &__meta {
    margin-top: 80px;
  }

  &__ad {
    line-height: 28px;
    overflow: hidden;
    width: 100%;
  }

  &__nav {
    margin: 12px 0;
    a {
      margin-right: 12px;
      display: inline-block;
      padding: 6px 24px;
      background-color: hsla(0, 0%, 100%, .6);
      &:hover {
        background-color: hsla(0, 0%, 76.9%, .4);
        text-decoration: none;
      }
    }
  }
}