{{define "Next/category-articles.html"}}
<!DOCTYPE html>
<html>
<head>
    {{template "head/head" .}}
    {{template "head/3rdstatistic" .}}
</head>
<body>
<div class="main">
    {{template "Next/header" .}}
    <div class="wrapper">
        <h2 class="page__articles">
            {{.Category.Title}}
            <span id="categoryArticleCount" class="ft-fade">0</span> <span class="ft-fade ft-13">{{.I18n.Article2}}</span>
        </h2>
        {{template "Next/article-list" .}}
    </div>
    {{template "Next/side" .}}
    {{template "Next/footer" .}}
</div>
<script>
  increase({{.Category.ArticleCount}}, 1000, 'categoryArticleCount', 0)
</script>
</body>
</html>
{{end}}