{{define "Next/tags.html"}}
<!DOCTYPE html>
<html>
<head>
    {{template "head/head" .}}
    {{template "head/3rdstatistic" .}}
</head>
<body>
<div class="main">
    {{template "Next/header" .}}
    <div id="pjax">
        {{if .pjax}}{{noescape "<!---- pjax {#pjax} start ---->"}}{{end}}
    <div class="wrapper">
        <h2 class="page__articles">
            <span id="tagArticleCount">0</span> <span class="ft__fade ft__13">{{.I18n.Tags2}}</span>
        </h2>
        <div id="tags">
            {{range .Tags}}
            <a href="{{.URL}}" data-count="{{.ArticleCount}}" class="tag">
                {{.Title}}
                <span class="ft__fade">{{.ArticleCount}} {{$.I18n.Space}}</span>
            </a>
            {{end}}
        </div>
    </div>
    {{template "Next/side" .}}
        {{if .pjax}}{{noescape "<!---- pjax {#pjax} end ---->"}}{{end}}
    </div>
    {{template "Next/footer" .}}
</div>
{{if .pjax}}{{noescape "<!---- pjax {#pjax} start ---->"}}{{end}}
<script>
  increase({{len .Tags}}, 1000, 'tagArticleCount', 0)
  addLevelToTag()
</script>
{{if .pjax}}{{noescape "<!---- pjax {#pjax} end ---->"}}{{end}}
</body>
</html>
{{end}}