{{define "Littlewin/authors.html"}}
<!DOCTYPE html>
<html>
<head>
    {{template "head/head" .}}
    {{template "head/3rdstatistic" .}}
</head>
<body>
{{template "Littlewin/header" .}}
<div class="fn__flex-1">
    <div class="wrapper fn__flex header__meta">
        <div class="main" id="pjax">
        {{if .pjax}}{{noescape "<!---- pjax {#pjax} start ---->"}}{{end}}
            {{template "Littlewin/nav" .}}
            <div class="module ft__center module--bottom module--space">
                <h2 class="module__logo">{{.I18n.Team}}</h2>
                <span id="authorCount">0</span> <span class="ft__fade ft__13">{{.I18n.TeamMember2}}</span>
            </div>

            <ul class="module module--bottom module--space module__list">
            {{range .Authors}}
                <li class="fn__flex-center">
                    <div class="avatar" data-src="{{.AvatarURLWithSize 24}}"></div>
                    <a href="{{.URL}}"class="author__name">{{.Name}}</a>
                    <span class="ft__12">&nbsp; {{.ArticleCount}} {{$.I18n.Article2}}</span>
                </li>
            {{end}}
            </ul>
        {{if .pjax}}{{noescape "<!---- pjax {#pjax} end ---->"}}{{end}}
        </div>
        {{template "Littlewin/side" .}}
    </div>
</div>
{{template "Littlewin/footer" .}}
{{if .pjax}}{{noescape "<!---- pjax {#pjax} start ---->"}}{{end}}
<script>
  increase({{len .Authors}}, 1000, 'authorCount', 0)
</script>
{{if .pjax}}{{noescape "<!---- pjax {#pjax} end ---->"}}{{end}}
</body>
</html>
{{end}}
