{{define "Littlewin/module-list"}}
{{if ne (len .List) 0}}
<div class="module module--bottom">
    <div class="module__header fn-flex-center">
        <svg><use xlink:href="#iconBar"></use></svg>
        {{.Title}}
    </div>
    <ul class="module__list">
        {{range .List}}
        <li class="fn-flex-center">
            {{if gt $.UserCount 0}}
            <a class="avatar pipe-tooltipped pipe-tooltipped--n"
               href="{{.Author.URL}}"
               aria-label="{{.Author.Name}}"
               data-src="{{.Author.AvatarURLWithSize 74}}"></a>
            {{end}}
            <div{{if gt $.UserCount 1}} class="fn-padding68"{{end}}>
                <a href="{{.URL}}" class="module__list-title">{{.Title}}</a>
            </div>
        </li>
        {{end}}
    </ul>
</div>
{{end}}
{{end}}