{{define "Littlewin/header"}}
<header class="header">
    <div class="wrapper">
        <a href="{{.BlogURL}}"
           class="header__logo">
            <h1>{{.Setting.BasicBlogTitle}}</h1>
            <img data-src="{{.LogoURL}}">
        </a>
        <div class="fn__none header__menu">
            <svg><use xlink:href="#iconBar"></use></svg>
        </div>
        <div class="header__links fn__flex-center">
            {{range .Navigations}}
            <a href="{{.URL}}" target="{{.OpenMethod}}" class="fn__flex-center">
                {{if ne "" .IconURL}}
                <img data-src="{{.IconURL}}"/>
                {{end}}
                {{.Title}}
            </a>
            {{end}}
            <a href="{{.BlogURL}}/search" class="fn__flex-center">
                <svg>
                    <use xlink:href="#search"></use>
                </svg>
                <span>{{.I18n.Search}}</span>
            </a>
            {{if eq .User.URole 0}}
            <a href="{{.Conf.Server}}/start">{{.I18n.StartToUse}}</a>
            {{else}}
            <a href="{{.Conf.Server}}/{{if ne .User.URole 4}}admin/{{end}}">{{.I18n.Manage}}</a>
            {{end}}
        </div>
    </div>
</header>
{{end}}
