{{define "Littlewin/footer"}}
<footer class="footer">
    <div class="wrapper">
        <div class="fn__clear">
            <i>{{.Setting.BasicBlogSubtitle}}</i>
            <div class="fn__right">
                <a href="{{.BlogURL}}">{{.Setting.BasicBlogTitle}}</a> &copy; {{.Year}}
                {{.Setting.BasicFooter}}
            </div>
        </div>
        <div class="fn__clear">
            <span class="ft__gray">{{.Statistic.StatisticViewCount}}</span>
            {{.I18n.View}}
            &nbsp;
            <span class="ft__gray">{{.Statistic.StatisticArticleCount}}</span>
            {{.I18n.Article}}
            &nbsp;
            <span class="ft__gray">{{.Statistic.StatisticCommentCount}}</span>
            {{.I18n.Comment}}
            <div class="fn__right">
                Powered by <a href="https://b3log.org/" target="_blank">B3log 开源</a> •
                <a href="https://hacpai.com/tag/pipe" target="_blank">Pipe</a> •
                Theme Littlewin
                <sup>[<a href="https://github.com/littlewin-wang/littlewin.wang" target="_blank">ref</a>]</sup>
                by <a href="http://vanessa.b3log.org" target="_blank">Vanessa</a>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript"
        id="script"
        data-blogurl="{{.BlogURL}}"
        data-isLogin="{{if eq .User.URole 0}}false{{else}}true{{end}}"
        src="{{.Conf.StaticServer}}/theme/x/{{.Setting.ThemeName}}/js/common.min.js?{{.Conf.StaticResourceVersion}}"
></script>
{{end}}
