{{define "Littlewin/index.html"}}
<!DOCTYPE html>
<html>
<head>
    {{template "head/head" .}}
    {{template "head/3rdstatistic" .}}
</head>
<body>
{{template "Littlewin/header" .}}
<div class="fn-flex-1">
    <div id="pjax" class="wrapper fn-flex">
        {{if .pjax}}{{noescape "<!---- pjax {#pjax} start ---->"}}{{end}}
        <div class="main">
            {{template "Littlewin/article-list" .}}
        </div>
        {{template "Littlewin/side" .}}
        {{if .pjax}}{{noescape "<!---- pjax {#pjax} end ---->"}}{{end}}
    </div>
</div>
{{template "Littlewin/footer" .}}
</body>
</html>
{{end}}